[2015-06-02 13:24] Merelleya opened #1 "Organizing:"

[2015-06-02 13:24] Merelleya opened #2 "prepare a meeting plan"

[2015-06-02 13:24] Merelleya opened #3 "agenda template"

[2015-06-02 13:25] #1 closed

[2015-06-02 13:25] #2 closed

[2015-06-02 13:25] #3 closed

[2015-06-02 13:48] Merelleya opened #4 "Summary - Board Meeting 31.05.2015"
Here is the summary from the Board meeting:

https://github.com/HaxeFoundation/Project-Management/wiki/Meeting-Notes---Board-Meeting---31.05.2015

I have tried to be detailed, but  I don't think that I got everything.

Please comment on completeness, correctness and discuss if necessary. At the end of the discussion I would like to have a correct and complete Wiki Page as well as a list with point

[2015-06-02 13:52] Merelleya opened #5 "Outbound Communication Overview"
## Outbound Communication

###Topics

* Development News
    * Roadmap
    * Features
    * What is being worked on
    * Status updates
* Haxe Foundation Updates
    * Project Updates
    * Financial Reports
    * Future Projects
    * Calls for Help
    * Events
    * What do we do?
    * How do we do it?

We may also include adequate responses to escalating issues to make our position more clea

[2015-06-02 14:06] Merelleya opened #6 ""Find your Haxe Developer" - Platform/Site"
How to find Haxe developers to hire has been one of the main concerns I have heard at WWX. I have spoken to representatives of  Gamsys, Game Duell and also Net Entertainment who advised that one of the main concerns of their managers, when thinking about switching to Haxe, is the question of where to hire developers. We also had a few job proposals recently, where I would have liked to be of more

[2015-06-02 14:16] Merelleya commented on #6
Please discuss

[2015-06-02 16:57] nadako commented on #4
what's `Haxe-Call-In functionality`?

[2015-06-02 18:27] dpeek commented on #4
@nadako it's something Tivo were using to talk to hxcpp from Objective C, and possibly to hxjava from normal Java (not sure about second one). Basically they built iOS/Android apps with platform tools/language and then used common business/service logic written in Haxe (the same they use on the STB)

[2015-06-02 18:32] ncannasse commented on #6
I would like to emphasis, maybe on haxe website, that getting started with Haxe when coming from Java/C#/JavaScript/ActionScript or other OO programming languages is actually quite easy: it usually takes days for someone to get started with Haxe. We could get some quotes comforting that from companies using Haxe.

Of course, that works well if you have already people with Haxe knowledge inside the

[2015-06-02 18:37] ncannasse opened #8 "Build list of speakers + conference"
Contact Haxe community and maintain a list of available speakers (let's contact first the speakers from previous WWX'es), also make a list of important conferences and make sure we get at list one, preferably several, talks submitted. Haxe Foundation can cover travel expenses if the conference does not already.

[2015-06-02 19:35] delahee commented on #8
Here are some links ( we 'll have to do some curation) :

http://techcrunch.com/2012/12/09/10-conferences-to-attend-if-you-are-looking-to-meet-developers/
http://www.gdconf.com/
http://lanyrd.com/topics/web-development/in/usa/

[2015-06-02 19:39] delahee opened #9 "Local Meet Up and Street Teams"
We should centralize a list of meet ups.
We might want to design street team package (shirts, stickers, usb key loaded with haxe) , like haxe briefs, possible master classes, concrete can change ways to develop.

Our priority should be the valley, nyc, london.

[2015-06-02 19:54] delahee opened #10 "Formal governance ?"
Beyond the de factor hierarchy, there is no formal way to address problems or official titles or anything at all.

I suggest we work on some formal description and succession queues for the haxe foundation (at least on the public site).

@ncannasse you are the better suited to redact something or design such a thing, i would not be schocked if you had super powers etc, but I deeply think Daniel G.

[2015-06-02 19:58] delahee opened #11 "Honorary members"
Beyond what is happening in the community (and I am really unhappy about this mess), we should embark big third party haxe communities and have them on board on this github.

Namely :

HaxePunk
HaxeFlixel
The openfl team
Silex

I will be better if we show our goodwill rather than stay in the current fuzzy hiatus.
I believe, we cannot make a better haxe without these teams they should have a word i

[2015-06-02 20:06] delahee opened #12 "Community Management"
Please,

We have to improve a lot on this, please _please_ avoid to close issues about meta subject too fast so that we can discuss how to best respond first if it is possible.

Please also try to process issues hijacking with care: ask to open a new issue about meta sujects rather than group disucssion.

Thanks a lot.

[2015-06-02 20:09] ncannasse commented on #12
Refused

[2015-06-02 20:09] ncannasse commented on #12
No, I'm joking :)

[2015-06-02 20:12] delahee commented on #12
I laughed so loud !

[2015-06-02 20:22] Merelleya commented on #6
We could include that, too. Like a list of "trainers" and/or consultants. We can emphasize training more on the website, but that would not address situations where people are actually actively looking to hire someone. I think it would be really helpful and also within the scope of what we want to do (there actually even is a "jobs" menu point on the site) to promote Haxe and communicate the messa

[2015-06-02 20:25] Merelleya commented on #11
Anybody has access to this board and can open issues. However, the primary aim is to coordinate _us_ and not to coordinate everybody or have discussions that are not related to actionable projects. Nor is this to be the primary repository for political discussions. If necessary, we may consider opening another Repository for that (might actually be a good idea). But in here, I would like to focus

[2015-06-02 20:32] Merelleya commented on #12
We should outline community interaction guidelines and best practices internally so as to avoid unnecessarily abrasive behavior. I understand that one can get angry, but in those instances it is often better to take a deep breath and go look at ponies or some such.

I understand that responses could have been worse, but seeing as unfortunately we are always - at least partially - being perceived a

[2015-06-02 20:36] Merelleya commented on #10
I am in favour of that. It would also spread the heat of the flames and it ties in nicely with the aim to be more clear and open about what we expect from "contributors" (in whichever way) in order to be able to address their contributions and process them effectively.

[2015-06-02 20:37] Merelleya commented on #8
This would be the speaker profile I was talking about. I think we should compile events first and then actively look for speakers to go to those specific events.

[2015-06-02 20:54] Merelleya commented on #10
Just so that there is no misunderstanding: I am in favour of making clear who is responsible for what (like we were planning with the who-is-who-page).

I think making sure we have proper communication lines and make clear how to address/reach the Foundation should be enough to enable the community to address problems with us. Other than that I can not exactly comment, since I have not been part o

[2015-06-02 21:38] ncannasse commented on #10
Yes, we had some plans to clarify roles by doing the "team" page (I should get back the photos we took at WWX next week or so)

[2015-06-03 16:26] delahee commented on #12
This has many dependencies on the governance model. Let s enqueue this behind.

[2015-06-03 16:32] delahee commented on #10
Aside roles, there should be a process for the community to ask feedback, estimated roadmap, and who gets a vote in what. I think also community a wishlist would be good.

[2015-06-03 16:36] delahee opened #13 "public financial reports"
As ask by Someone, there should be a page listing public financial reports and we should ensure they are available to report engines like société.com.

[2015-06-03 16:38] delahee opened #14 "Yearly roadmap"
We have a big planning issue, for example with the Unicode support etc.. We should plan and prioritize at least for one year in advance. This tasks is dependent on community feedbacks.

[2015-06-03 16:39] delahee commented on #12
@Jo what would you think of something like getsatisfaction ?

[2015-06-03 16:43] Simn commented on #14
I'm not sure about this. If we don't address something swiftly it's usually because nobody really has a solution for it. In that context having roadmaps wouldn't do much other than causing stress.

[2015-06-03 16:49] Simn commented on #4
I don't mind trying that but I'm not sure it's gonna work.

This makes it sound as if we were waiting for some fancy feature which delayed our release. This is not the case. Everything that caused a delay was a real regression and it's not possible to make a stable release with known regressions. I don't even think we could make a non-stable release with known regressions.

[2015-06-03 18:50] ncannasse commented on #10
I think it's important to listen to feedback and get input from various community people. That's what we did at HF meeting on sunday morning at WWX.

However, i don't think that design-by-comity is a good solution when it comes to deciding things such as language features or what gets included into std, etc. Most people don't know the inner workings of the compiler, what technically makes sense or

[2015-06-03 18:54] waneck commented on #6
A `try haxe` fork which adds some tutorials, and some sort of checking to know if the exercise was done correctly might be a good way to start. Making it open to contribution, and having some sort of curation shouldn't consume too much time, I think.

I'm thinking about working on this, as I've been spending some time to teach programming (and specially Haxe programming) to local communities here

[2015-06-03 19:14] ncannasse commented on #13
I'm fine with it, but Daniel asked about financial reports at WWX and when he got them he complained that we are not looking good because of our small budget. I'm not sure how we should address this. If we have huge numbers we would surely be happy to communicate on them, in the meanwhile I'm not sure what for this would be useful.

[2015-06-03 19:17] ncannasse commented on #14
I agree that we should not only focus at maintaining the compiler but also focus on "bigger advances" in terms of things we're lacking. Unicode often comes on the map, let's do the first steps of the work and then we will hopefully get contributions from community for the next ones.

[2015-06-03 19:18] ncannasse commented on #6
@waneck while it's an interesting idea I don't think that's related to this particular point

[2015-06-03 19:33] Merelleya commented on #13
@delahee please use appropriate labels for you issues.

First of all, it was not asked by someone, it was asked by Daniel Glazman specifically and only by him. We do not have anything to hide so I don't see why we should not upload the financial report somewhere.

However, I would not go on much about it. Keep it short and sweet, because otherwise we will always come across as somewhat defensive.

[2015-06-03 19:39] Merelleya commented on #12
@delahee I would really appreciate if you could supplement your suggestions with links to appropriate resources, seeing as we do not always enjoy the same context.

I also do not necessarily agree that a general code of conduct has so many dependencies on what you call "governance". This topic mainly relates to how official representatives of the foundation as well as partners or people who are as

[2015-06-03 19:40] ncannasse commented on #13
As I said i'm fine with publishing the financial reports, as you said we have nothing to hide and it's better for people not to make strange ideas about how things are handled here.

But I'm just questioning what would be the correct way to link such reports : while as @Merelleya said it's nice to see how much we can do with a small budget when you're familiar with Haxe, OTOH if you're just evalua

[2015-06-03 19:43] Simn commented on #14
I just don't think adding Unicode to some (redundant) list is going to improve anything. A road map is something _we_ intend work on, not a community contribution request overview. If you want to have that you should call it what it is.

[2015-06-03 19:44] Merelleya commented on #6
@waneck please feel free to open a separate issue for your topic xD

[2015-06-03 19:44] Merelleya commented on #13
@delahee disregard my comment on labels. I am just finding out that those are only available to me ~.~

[2015-06-03 19:45] Merelleya commented on #13
@ncannasse maybe just present them at the WWX each year and otherwise have them available on request? I really don't know.

[2015-06-03 19:52] ncannasse commented on #14
The goal of a roadmap as I see it is to prevent ourselves from being entirely driven by github issues: we get bug reports, feature suggestions this way, and it's normal and necessary to work on it, but according to my own experience it's sometimes nice to work on "new things" that will bring Haxe to the next level of usability.

Roadmap should be discussed and approved, or I can decide by myself i

[2015-06-03 20:02] delahee commented on #14
@Simn
In an ideal world, i would like to tell you "take it easy", missing deadlines and not filling rodmaps is really Ok. I am fairly confident Nicolas will feedback if anything go wrong. So I really like to emphasize how unstressed you should feel, don't put pressure on yourself.

Having a broad roadmap and some kind of hint that we need contributor for those is a first step.

There are many ways

[2015-06-03 20:08] delahee commented on #13
@Merelleya here in France medium to big companies are legally required to publish financial reports. I think it is a good practice, and especially for a charity/foundation of some sort

@ncannasse like juraj said "only fools are afrait to look like fools" The numbers are fine for me, he asked it, he have it. I am ok for not to much publicity if you are really afraid but frankly you should not be s

[2015-06-03 20:09] Simn commented on #14
Maybe I'm just really scared of Unicode support in particular because to me that looks like a huge mountain that has its peak somewhere in the sky and I don't even know where to start climbing. I'll try to not let that cloud (sorry) my judgement.

[2015-06-03 20:10] delahee commented on #10
I a totally fine with that, but then making it clear in plain text in a "formal contribution process and actors" is a very good idea so that we don't get revolutions coming out of every sick joke I make... :)

[2015-06-03 20:11] delahee commented on #14
We trust you Simn, strip your minds roadmap of unicode if need be, we still need this tool ;)

[2015-06-03 20:12] ncannasse commented on #14
@Simn re Unicode, it's not that hard to get the basics right

[2015-06-03 20:13] delahee commented on #12
@Merelleya hmm ok i 'll go extensive on this one and we'll redact something.

[2015-06-03 20:15] larsiusprime commented on #14
One thing to keep in mind is that if we signal we're beginning to work on something, even if it's not huge progress, that really sends a message to the community. For instance, in OpenFL land, we were seriously scratching our heads about what we were going to do about font rendering and layout for the next transition. We put up some issues and plans about getting Freetype / Harfbuzz work, and afte

[2015-06-03 20:15] delahee opened #15 "SEO"
We have to get rid of that roast image (https://www.google.fr/search?q=haxe+image&safe=off&rlz=1C1CHFX_frFR562FR564&espv=2&biw=1587&bih=861&source=lnms&tbm=isch&sa=X&ei=FGBvVba4A8r1ULSggfgH&ved=0CAYQ_AUoAQ#safe=off&tbm=isch&q=haxe)

So we have to campaign all ahxe related sites with adequate SEO actions, i ll centralize here required steps to make everything ok.

[2015-06-03 20:25] Merelleya commented on #15
You will never get rid of the roast. It is cultural heritage.Also, Image optimization is not really the issue (go google Rust...just to see what you get).

Also, the Haxe sites are actually pretty well done in terms of SEO. The main thing is more editorial content and maybe some extended metadata for enriched SERPs

[2015-06-03 20:29] Merelleya commented on #10
maybe you should just refrain from sick jokes xD.

[2015-06-03 20:31] delahee commented on #15
DOH..well I still can given a go ;)

[2015-06-03 20:37] delahee commented on #10
That s fair, I ll try for at least two weeks, then will create a private
repo for those called nyarlatotep... :)

[2015-06-03 20:38] Merelleya commented on #10
In my head there is that chibi version of you looking all starry-eyed at a can of worms...

[2015-06-03 20:51] waneck commented on #6
You're right. Sorry about that :)

[2015-06-03 20:55] waneck opened #16 "'Learn Haxe' website"
I've been thinking about this for some time now. I'm working on teaching Haxe programming to local communities here in Brazil, and I think that we could use a modified `try haxe` engine to make it easy to write tutorials that can guide on many different matters of Haxe programming. Making it then open to contribution, and having some sort of curation shouldn't consume too much time.

I'm thinking

[2015-06-03 21:03] Merelleya commented on #16
something akin to http://www.codecademy.com/ or the likes?

[2015-06-03 21:21] waneck commented on #16
Yes. I think if we put down a roadmap, we could start with just codeacademy's engine - no need of keeping track of progress or anything else.
This could then evolve to include a progress tracking, and even up to something gamified, like http://alexnisnevich.github.io/untrusted/

[2015-06-03 21:23] waneck commented on #16
Other reference: https://tour.golang.org/welcome/1

[2015-06-03 21:52] nadako commented on #16
http://rustbyexample.com/

[2015-06-04 01:23] jasononeil commented on #15
I agree with Fiene...

Using a google IMAGE search was a cheap shot from Daniel's talk. We
absolutely dominate the first page of Google WEB results for "haxe", even
if you are using private browsing.

I'm sure there is a little more we can do but I do not think it is the
disaster that was implied.

Jason
On 04/06/2015 4:25 AM, "Josefiene Pertosa" notifications@github.com wrote:

[2015-06-04 07:13] delahee commented on #15
well yes and no, don't take it as an attack with the wonderful work you made.

We are already first in web Seo, i don't see why we could not be better ranked in "images" as there are SEO for image specifics. And especially since the first image actually comes from a post that was speaking about Haxe the compiler.

I'll dig in a little ;)

[2015-06-04 07:20] Simn commented on #15
I think you should come over and have a nice German Haxe. ;) This is like calling a programming language Baguette and trying to dominate the image results for it.

If anything the problem is that there aren't any interesting images for our Haxe. Also to be frank, I'd rather look at a nice roast than that fifty shades of orange thing we call the Haxe logo any day.

[2015-06-04 07:56] ncannasse commented on #15
Lars posted this on twitter
https://t.co/ISvpK3wVYZ
https://t.co/jP3A7zDg1n

I think that search results are much more important than image result for Haxe, let's not spend our precious time on things that doesn't matter. If we improve communication around Haxe, we will eventually have more images in the search results. Until then, let's focus on what's important.

[2015-06-04 07:56] ncannasse commented on #15
PS : feel free to close if you agree

[2015-06-04 07:58] Simn commented on #15
I actually looked for Rust images during Daniel's talk and almost called him out on that but managed to refrain from doing so.

I would like to keep this issue open as a reminder to look into some SERPs. @Merelleya told me about how that can make look google results much better.

[2015-06-04 07:58] elliott5 commented on #15
I'm with Simn, I think having a language with the same name a nice German roast makes it memorable - probably an advantage actually, think of Haxe and your mouth waters... mine does!

[2015-06-04 08:17] Merelleya commented on #15
I actually ran the site through an onpage analysis tool yesterday and it came out pretty well. There are some structural things like h1/h2/3 and metadata where there is a little room for improvement and I would like to go through that with you @jasononeil but other than that there is no immediate cause for concern on a purely SEO/technical side.

I will have to have another look at the Webmaster t

[2015-06-04 08:27] delahee commented on #15
Well ok for me then  :)

I advocates we keep that Eliott feeling if someone asks what about the roats:
"Well it's a yummy language then, isna !"

Fine for closing.

[2015-06-04 08:59] Merelleya opened #17 "This is a test issue, do not worry"
just ignore this

[2015-06-04 09:03] #17 closed

[2015-06-04 09:03] Merelleya opened #18 "more testing"
keep ignoring

[2015-06-04 09:08] Merelleya opened #19 "Push Issues to [haxe-f] Google Group"
So,

the idea was to have GitHub automatically push issues to the [haxe-f] google group:

https://groups.google.com/forum/?fromgroups#!forum/haxe-f

However, I can not get it to work properly, which may or may not be due to the fact that the haxe-f group currently is application-only.

Either way, since GitHub sends e-mail notifications, too, I was wondering whether it was really necessary to have

[2015-06-04 09:08] #18 closed

[2015-06-04 09:14] Merelleya commented on #19
please feel free to discuss

[2015-06-04 09:15] jasononeil commented on #17
:+1: :dancer: :dancers:

[2015-06-04 09:18] jasononeil commented on #19
Since I was added to the repository I feel like I'm on a mailing list - email alerts for new issues and comments. So I see no need to get the issues via email too. Unless you want email updates for code submitted too? But it's just a README so I don't think it matters much.

My $0.02

[2015-06-04 09:19] Simn commented on #19
I agree, you can just watch this repo if you're interested in what we're plotting.

[2015-06-04 09:20] Merelleya commented on #19
I could, of course, just keep adding everybody. But I think it is ok as is.

[2015-06-04 09:22] Simn commented on #19
We can use haxe-f for all the secret or bad news such as Nicolas and Hugh getting hit by buses.

[2015-06-04 09:27] jasononeil commented on #19
@Simn That made me laugh so loudly I had to explain the joke to people around me.

:person_with_blond_hair: :boy: :bus:

[2015-06-04 09:28] dpeek commented on #19
I've started work on a Haxe implementation of both Hugh and Nicolas to deal with these concerns: HxNeko and HxCppHugh.

[2015-06-04 09:29] ncannasse commented on #19
Remind me to never cross the street next to Hugh, so we can minimize the risks

[2015-06-04 09:31] Merelleya commented on #19
Never mind the risk you incur just by being alive. We really _should_ have AI companions for both of them. Or seriously invest in zombification techniques.

[2015-06-04 09:45] jasononeil commented on #16
I think rustbyexample.com is my favourite, and would be hopefully quite close to what we have in try.haxe.org, so not too hard to programme.]

It's also high value for low effort in terms of writing new tutorials.  Just need a code example and a quick explanation.

[2015-06-04 09:46] dpeek commented on #19
![nicolas](https://cloud.githubusercontent.com/assets/128329/7981470/02655bfe-0aa7-11e5-8bc4-da861c0c0302.png)

[2015-06-04 09:50] Merelleya commented on #19
Nicolas' nose is way prettier that _that_

[2015-06-04 10:23] hughsando commented on #19
Perhaps you could give me a heads-up if a bus hit is on the road map.

On 04/06/2015 5:22 pm, "Simon Krajewski" notifications@github.com wrote:

[2015-06-04 11:18] Merelleya commented on #19
I suppose this is ready for close, then. Feel free to re-open if you have anything relevant to add to the topic, which can be deduced by parsing the issue-title :P

[2015-06-04 11:18] #19 closed

[2015-06-04 12:37] ncannasse opened #20 "Haxedevelop"
We got agreement from @elsassph and @Meychi at latest Haxe conference to build a version of FlashDevelop dedicated to Haxe called HaxeDevelop. The FD team would take care of the building+releases, we would take care of creating the website/logo/etc

I think we should start with a first release which should just be a stripped down version of FD, without plugins / templates which are not required fo

[2015-06-04 12:39] delahee commented on #20
totally ok, we might want to resolve the ownership of this new website before the 'go' ?

[2015-06-04 12:41] ncannasse commented on #20
We could host the website and register the domain, or whatever combination that works for FD team : we're to help, not to control :)

[2015-06-04 12:43] Meychi commented on #20
Sounds good to me.

Ok, first i need to gather a list of things like graphics and texts which needs to be modified and i can setup new CI builds for it. Later on we can start deploying them to correct server etc.

I'm taking ideas which plugins, tools and templates should be removed.

[2015-06-04 12:43] delahee commented on #20
Ok I may have mistood the  "we would take care of creating the website/logo/etc" part :) i'l trust you have ironned everything already ;)

[2015-06-04 12:51] Meychi commented on #20
Could i get access to Haxe Slack?

[2015-06-04 12:53] Merelleya commented on #20
We do not use Slack. You can reach us on the #haxe IRC channel ^-^

[2015-06-04 12:54] Meychi commented on #20
Ah ok.

[2015-06-04 12:55] Merelleya commented on #20
alternatively, you may reach nicolas, simon and/or me on skype or we could also use something else, if that is more convenient. I have found the IRC to be nice to hang around, though.

[2015-06-04 14:45] Merelleya opened #21 "Showcase Ideas and Roadmap"

[2015-06-04 15:52] larsiusprime opened #22 "Social Media Outreach"
(Hope I'm doing this right)

I'd like to briefly discuss what sort of social media outreach strategy we might want to set in place. So far it seems to mostly be left to random community members, which is fine, but I feel like we had a LOT of great content come out of WWX 2015 and I'd like to make sure the tech community gets to know about it at the very least.

For instance, I think the word has g

[2015-06-04 16:01] Merelleya commented on #22
You did right!

I will be more than happy to work on a social media strategy with you. So far, I have kept up regular posts and shares on both twitter and facebook and started to use google+ a little more. However, I would really love a "map" and maybe a nice checklist including other outlets.

I can get in contact with both Jason and Robert regarding their respective talks and see if there is any

[2015-06-04 16:04] Merelleya opened #23 "Community/Dev Blog"
### Conceptualization

- [ ] Content Plan
- [ ] Editorial guidelines
- [ ] Editorial workflow
- [ ] Reach out to possible contributors

### Implementation

- [ ] Decide on a cms
- [ ] Design/branding
- [ ] Integration into the website

---
Apart from the showcases, we would like to have a community/dev blog where we can publish articles about what we are working on, features, unusual things you ca

[2015-06-04 16:10] Simn commented on #22
I don't think Nicolas' talk this year was particularly newsworthy. It was a good conference opener but in my opinion there were several other talks that had more punch to them.

[2015-06-04 16:32] hughsando commented on #22
I guess if you are looking for a headline (PR?) then "Haxe turns 10" is a
pretty good one.

On Fri, Jun 5, 2015 at 12:10 AM, Simon Krajewski notifications@github.com
wrote:

[2015-06-04 16:38] larsiusprime commented on #22
@hughsando your talk was super awesome, btw, if anyone can think of a good venue for that sort of thing.

[2015-06-04 17:13] larsiusprime commented on #22
@Simn I was actually referring to the "Tech behind Evoland" talk -- I think that would be a good candidate for a Gamasutra featured article at the very least.

[2015-06-04 17:14] Simn commented on #22
I see, I have to admit I kind of zoned out during that one because it reminded me of university when he started talking about shadows. :D

[2015-06-04 17:20] Merelleya commented on #22
I am happy to reach out and coordinate. From a position of self-interest (or rather foundation-interest) I would dearly love to have some more Foundation/Haxe in general centered Content, though.

[2015-06-04 17:24] larsiusprime commented on #22
@Merelleya: Okay, so let's think of a "map." Generally the process for me is something like this:
1. Identify the content source (say, a WWX talk)
2. Someone (author or volunteer) gets it into digestible format (ie, my slides -> article dump with pictures + text)
3. Match it to useful venues:
   - GameDev related (tech/biz/design/etc) : Gamasutra.com (I know the editors & can help get featured), r

[2015-06-04 17:25] larsiusprime commented on #22
We also should consider getting some haxe-focused communities some more attention. There's a reddit.com/r/haxe subreddit for instance that is kind of a ghost town, we could perhaps put a link to this somewhere prominent to give it some traffic, and start submitting important things to it, to give it a shot in the arm and help it grow. Right now it's mostly Haxe roundups, but there's no reason we c

[2015-06-04 17:32] larsiusprime commented on #22
Speaking of, we're on the front page of Slashdot right now:
http://developers.slashdot.org/story/15/06/04/1725230/open-source-haxeopenfl-platform-will-support-home-game-consoles

Maybe jump in with your comments as soon as you can, Slashdot commenters can be particularly weird and misinformed about everything.

[2015-06-04 17:35] larsiusprime commented on #22
Incidentally, I echo @hughsando's viewpoint that a good, solid "10 years of Haxe" article could be great. Just talk about Haxe itself and the foundation, a wonderful and solid, comprehensive introduction to the programming language and its larger community, as well as who is using it, could be great and should be able to do pretty well on the media rounds.

[2015-06-04 17:43] Merelleya commented on #22
And there we are back in content-creation-land xD.

Your plan looks just like my publication "checklist" so I guess we agree on a lot of things. I am additionally monitoring on Analytics to evaluate what kind of content produces results in terms of downloads, new users, etc.

it looks like this (I use asana for my own stuff so you will have to make do with a pdf dump):

https://drive.google.com/fi

[2015-06-04 17:53] larsiusprime commented on #22
I think the most sustainable approach is to acknowledge we have limited efforts ourselves and that we should leverage the community wherever possible to do these things in a mostly "automatic" way. There's some manual nudges to make, like I've been nudging Rob to dump out his Kha slides, for instance, but in terms of "setting things on fire" we have limits to doing that by hand.

For example, we c

[2015-06-04 17:55] Merelleya commented on #22
That reminds me...

[2015-06-04 17:56] Merelleya opened #24 "Answering your own questions on Stackoverflow"
Apparently it is allowed to post Questions to Stackoverflow and answer them yourself. Is anybody up for posting some FAQs with answers there?

[2015-06-04 18:00] elliott5 commented on #4
The fact that the minutes of the meeting have been published and will be published in future is really important. Obviously lots of very sensible things were said at the meeting. There are just two areas where I would like to cheer the Foundation on.

As the Haxe team members are mostly technologists, the whole "Communication" activity is not something that is a natural behaviour for most. So ther

[2015-06-04 18:04] Simn commented on #23
I just wanted to check how much time it would take me to write a bit about my development thoughts. I wrote this in 30 minutes, it's obviously not edited in any way but if you think this might be interesting I can do it on a regular basis:

## Conference aftermath

A gettogether of most of the Haxe compiler team as well as a lot of smart and creative community members comes with some side-effects

[2015-06-04 18:09] Merelleya commented on #4
Hi Elliot!

Welcome to this discussion.

Just to clarify one point. We did not agree to have weekly meetings and publish notes on those and we will also not externalize _all_ our project meeting notes for the sheer stress it would put on resources.

What we can and will do:
- We will have quarterly team meetings and publish notes
- I will encourage everybody to have additional meetings to keep the

[2015-06-04 18:11] larsiusprime commented on #23
I think a community blog would be swell! I think we should encourage people to re-post their normal content there, so we could get the latest from OpenFL, Kha, SnowKit, NME, etc, which generate pretty nice little articles from time to time, and it could become a great central repository for people wanting information on Haxe.

EVEN BETTER, with the permission of the content's author, we could use

[2015-06-04 18:21] Merelleya commented on #23
I do not want re-posted content because it causes SEO problems and all sorts of other issues. If we are talking about paraphrasing, summarizing or some such, that would be good.  Also, content collection is what we have the round-ups for. I am not averse to having feature posts or guest posts from other community parts, though.

A blog is not a good platform to re-share content, unless it is embed

[2015-06-04 19:31] larsiusprime commented on #20
Just to catch up on this -- is this basically a simple rebranding of FlashDevelop with just the Haxe features, or is it more ambitious?

For instance, with a fresh name change it could be a good opportunity to start with a clean cross-platform base without the scintilla dependency that keeps things windows-only; even if it didn't have as many features it wouldn't be seen as an immediate step back

[2015-06-04 19:50] larsiusprime commented on #8
Let's see, there's the various GDC's:

GDC (San Francisco, the "big" one)
GDC China (Shanghai)
GDC Europe (Cologne, Germany)

They used to have a GDC in Austin but that's gone now.

There is SXSW (South by SouthWest) in Austin, which started as a music festival but has a huge tech focus as of late:
http://sxsw.com/

Other approaches are perhaps to find other existing niche tech and language focuse

[2015-06-04 19:52] larsiusprime commented on #9
I'm closest to Houston and Austin in Texas. Austin is traditionally a pretty big tech hub, a leader in the whole country, and isn't super far away; Houston is a huge city (one of the largest in all of USA) but has a sparse tech community at best.

[2015-06-04 20:00] larsiusprime commented on #6
I'd be very interested in this as an occasional employer myself. Often I need to hire a haxe contractor and have no idea where to look except to spam all my social media haxe channels, would be nice to have a central place. Could also be useful for posting bounties.

[2015-06-04 21:35] Meychi commented on #20
I'm open to suggestions but starting a new one would take a whole lot of time and some serious cash. :)

[2015-06-04 21:42] elliott5 commented on #4
That sounds wonderful Fiene.

All I want to do is cheer the team on, sympathize that "communications" is really difficult, and so suggest you find strategies to keep doing it ... which you seem to be doing.

You are very wise to "not overdo this from the get-go", sorry if I read too much into the notes and got over-excited!

As you will know, the audience to communicate with are not just existing

[2015-06-04 21:47] larsiusprime commented on #20
Ah gotcha :)

[2015-06-04 21:49] Meychi commented on #20
I still have few complex options i need to dive into that may bring FD to other platforms.

[2015-06-04 22:07] larsiusprime commented on #20
Also -- I take it the hxcpp interactive debugging at Haxe-source level for FlashDevelop that I talked to @elsassph, et al. about at WWX should probably make it into "HaxeDevelop" when it's released?

[2015-06-05 01:01] hughsando commented on #23
Re: Static extension operators - without trying to start a flame war or anything, what is the logic behind wrapping operator overload in an abstract (or static extension), rather than directly on the class.  This seems like one extra step without which the static extension would work as-is without modification.
If we are looking to make this more part of the language, then maybe it is time for the

[2015-06-05 01:32] nadako commented on #23
Static extension operators could be nice for structures, but other than that I can't see a fair use case for it. If you're writing vector class, you'll add `add/sub/mul/div` methods into it and it feels confusing to have to add `using` to make operators available for that. I mean, try explaining that to your average non-haxe-fan colleague.

Are there any problems with adding operator overload to c

[2015-06-05 02:16] dogles commented on #14
In terms of road map from an outsider's perspective, I think the greatest value will be to give people a simple overview of where Haxe is headed. Right now, I don't have a clear idea of what's definitely planned in the next Haxe release, what's being considered for future releases, etc.

I know a lot of this is currently in Github issues, but that gets mixed in with bugs and community suggestions.

[2015-06-05 02:30] dogles commented on #24
Related: there are tons of Q&A threads in the Google group. I found several that would be applicable for Stack Overflow, e.g.:

https://groups.google.com/forum/#!topic/haxelang/e27o1jLXGIg
https://groups.google.com/forum/#!topic/haxelang/b61U-qfmYM0
https://groups.google.com/forum/#!topic/haxelang/CSmI3GR2cqs

That's just in the past day or two. Is there a way to get these cross-posted, or try to

[2015-06-05 02:45] dogles commented on #23
@simn It would be AWESOME to have these little windows into development on a regular basis, and I think it would provide great optics for Haxe. It's incredibly worthwhile to show potential users that there are people actively working on the project on a daily basis, solving interesting problems.

[2015-06-05 02:55] dogles commented on #4
A more detailed version of this minutes doc would be great introductory post for the Haxe dev blog ;)

[2015-06-05 05:16] delahee commented on #23
@hughsando ftagh'n issue hijacking spotted,  please don't unleash some unspeakable soul eater on Jo's domain :D

[2015-06-05 06:03] Simn commented on #23
@hughsando: Please use https://github.com/HaxeFoundation/haxe/issues/2803 for a discussion on the subject itself, I really only picked some topics to write about here.

[2015-06-05 06:33] Simn commented on #24
I suppose we should also talk about support channels in general. Some time ago Fiene and I thought about improving http://haxe.org/community/community-support.html by adding something like this under the current content:

<hr/>

<h1>What goes where?</h1>

<h5>You did something awesome with Haxe and would like to share it with the community?</h5>

<div class="span4">
    <ul class="nav nav-tabs nav

[2015-06-05 06:39] Simn commented on #20
We really should keep our focus here and go for a two-stop approach:
1. Strip down FD to what we need for Haxe, removing all the "Flash cruft".
2. Improve on it.

It's good to think and talk about the second step but I don't want @Meychi and @elsassph to feel overwhelmed by it. I'm sure the community is going to help at that point, too. On that note, pinging @Gama11.

[2015-06-05 06:57] Simn commented on #14
I agree this would look really good so sure we can try that. My main concern is that at this point most of the things that haven't been done yet are quite hard to get right in the first place. For instance, I want to make the static analyzer the default for the next release but given Haxe's nature (`Dynamic`, `untyped` etc.) there might just be issues that I do not (yet) have a solution for.

For

[2015-06-05 07:23] Meychi commented on #20
Barebones FD, without completion plugins (keeping BasicCompletion) and ProjectManager is a lot like Scite in many ways. Customizable text editor with some logic and code coloring.

Also as Haxe have a Flash target i don't know which "Flash cruft" you are going to remove except templates, snippets and few tools.

I think we should do some work on FlashDevelop to remove the last few static Flash thi

[2015-06-05 08:09] ncannasse commented on #14
I agree with Simn that we should distinguish the things we're working on / experimenting with, and for which we don't have a roadmap because we don't know how many issues it might raise, from the things we know we will do.

For instance we could have the following:
- Code Analyzer (enable with -D analyzer) : EXPERIMENTING
- Unicode : basic String API support - no collation yet : PLANNED FOR 3.3

[2015-06-05 08:15] ncannasse commented on #20
@Meychi I don't think we want to remove the completion plugins for FD, we just want to remove the parts that have no use for Haxe, such as ActionScrit support.

So yes that's a very small change and as @larsiusprime said it's just a rebranding for now, which I think is great enough for a start.

After we have release we can start thinking about maybe having a more user friendly / Haxe specific Pro

[2015-06-05 08:20] Meychi commented on #20
No i didnt meant that the plugins should be removed but more like that providing completion plugin with some other integration work would total a new ide.

Is the the brand HaxeDevelop important or would you prefer FlashDevelop to be more generic without the "Flash" in it. Or just having focused setup for Haxe?

[2015-06-05 08:24] Merelleya commented on #14
So we agree on the following:
- a road-map is nice to have
- we should definitely have one
- we should distinguish between planned features and stuff we are experimenting with so...
- ...we might consider different labels akin to the workflow labels:
  - PLANNED
  - EXPERIMENTAL
  - APPROVED FOR DEV
  - CURRENTLY IN DEV
  - BEING REVIEWED
  - etc

We should move the discussion to the following iss

[2015-06-05 08:30] elliott5 commented on #23
For those of us without the inclination to read through all of the past and present issues on each of the HaxeFoundation's github repos, a regularly updated community dev blog, containing original material which summarises the current dev situation within the Haxe ecosystem, would be a really helpful. It would allow new or peripheral Haxe users (like me) to understand the present state-of-the-art

[2015-06-05 08:40] hughsando commented on #23
Sorry, I mistook the meta-discussion for a discussion.  Must have forgot the macro tag.

[2015-06-05 08:55] hughsando commented on #20
I don't think removing the flash stuff will be beneficial at all.  What
about devs who do both haxe and as3 - do they need both installed?  They
will probably just go FD then since it is a "better product" (ie, super-set)
I think the rebranding is a much better idea.

On Fri, Jun 5, 2015 at 4:15 PM, Nicolas Cannasse notifications@github.com
wrote:

[2015-06-05 08:56] elsassph commented on #20
I think it makes plenty of sense to do like IntelliJ / WebStorm: a custom distribution of the same software but with less plugins/templates. As Mika says, changing the UI toolkit or the code editor component is a major and risky undertaking, although if it could make sense in a long term plan.

In fact I don't think we need to remove much plugins (maybe FlashLogsViewer?) but mostly rebrand and rem

[2015-06-05 09:01] ncannasse commented on #20
I think that Flash have a lot of negative noise coming with it for many people, especially in the web community. FlashDevelop should be still named FlashDevelop since I think you still get a lot of users, and renaming it to something more abstract would be just more difficult to communicate on.

It seems strange ATM that to do for instance Haxe/JS or Haxe/CPP you have to download "FlashDevelop". T

[2015-06-05 09:03] elliott5 commented on #11
@Merelleya I think there is a need to have a place to discuss ecosystem-wide issues, and bring in the parties that @delahee suggests. This is because they are the key to driving more developers to use Haxe.

My guess is that most developers do not come to use Haxe because it is a wonderful language, they come because it gives them access to cross-platform development stacks developed by third part

[2015-06-05 09:55] Merelleya commented on #11
I will read this as "I agree, we should have a repository to discuss meta topics concerning ecosystem-wide issues with the above suggested parties", right?

[2015-06-05 10:09] elliott5 commented on #13
@Merelleya I agree that briefly presenting the Foundation's financial reports at each WWX is a really good idea, but they would also need to be on-line somewhere if only to demonstrate that the Foundation is not FIFA ;)

Daniel Glazman has wider experience of the open-source world than me, so if he says that the Foundation's annual budget is very small, I believe him. But I draw different conclusi

[2015-06-05 10:11] Simn commented on #8
Within Germany I can easily make day-trips to Cologne and Frankfurt. I can also take a plane (from Cologne or Frankfurt :P) to Berlin as well as the rest of Germany.

[2015-06-05 10:13] elliott5 commented on #11
Yes @Merelleya and with any other parties who add value to the core Haxe sales proposition. Where would any platform be without it's application framework developers?

[2015-06-05 10:15] Merelleya commented on #11
My job description just keeps getting longer xD

[2015-06-05 10:20] elliott5 commented on #14
Great discussion. @Merelleya +1

[2015-06-05 10:30] elliott5 commented on #10
I think @delahee 's idea of adopting a lightweight version of the Mozilla governance framework is really strong.

I also agree with @ncannasse that his "benign dictatorship" is an important component in making Haxe what it is.

[2015-06-05 10:31] Simn commented on #13
I might be naive but I totally agree with this. I have seen a steady growth over the past years and see no sign of it slowing down. That's also why I consider talks like Daniel's to be detrimental because they feed unrest and impatience which generally don't lead to good business decisions.

Of course we could just halt all development and dump all our resources into a marketing campaign with pres

[2015-06-05 10:34] Merelleya opened #25 "Meeting with Jason 05/06/2015 - Haxe Web Projects"
Jason and I just finished our talk about the pending Web Projects for Haxe/The Haxe Foundation. He will do some urgent things as soon as possible and then he will be available for more after the 20th of June. The priorities look as follows:

### Urgent

* finishing up the TiVo article in terms of layout-adjustments
* looking into the recent slowdowns and crashes
* looking into some SEO optimizatio

[2015-06-05 10:36] ruby0x1 commented on #20
What happened with HIDE, I was under the impression there was community and foundation funding for an official haxe specific IDE?

I think haxedevelop is a great idea in concept. I constantly have to explain why "flash"develop is used and why the (flash) debugger doesn't work against c++ targets and why the js target doesn't work the same way - the list is endless.

I would also hope that some att

[2015-06-05 10:40] Simn commented on #20
The efforts regarding HIDE were redirected to improve the IntelliJ Haxe support in collaboration with TiVo.

[2015-06-05 10:41] elsassph commented on #20
Yes we need to support `@:noCompletion` but currently we don't parse metas and secondly there is no "hide from completion" mechanism in general in FD. Both have to be implemented.

[2015-06-05 10:48] Merelleya commented on #23
The results of this morning:
- yes we want this blog and sooner rather than later
- I want it to be integrated into the website
- it is ok to use a third party cms if it can be integrated, rebranded and it means we get it going sooner
- we can think about a Haxe-Powered cms as a future project but I really don't want to wait with the blog till we have one
- the requirements are normal blog feature

[2015-06-05 10:49] Merelleya commented on #23
Things we could start on:
- compile a list of possible "serials" (like weekly updates)
- compile a list of contributing authors (regulars, maybe)
- reach out to possible authors
- look at cms solutions

[2015-06-05 10:52] ncannasse commented on #23
ok for all these things, we have to find a good balance between communication aimed at the existing community (which seems is lacking given the misunderstandings we got) and communication aimed at new haxe users to explain them how great Haxe is. The blog should have both types of content IHMO

[2015-06-05 10:53] ruby0x1 commented on #6
To me it seems that the reasoning is that there are places to hire ____ developers on demand - like some singular location where all C++/C#/Java developers are just hanging around waiting for a job.

If that is the case - maybe these resources could be shared for other languages, so perspective can be gathered.

[2015-06-05 10:59] Merelleya commented on #6
The main ideas:
- Helps companies find programmers
-  Helps Haxe programmers find jobs
- Help projects find volunteers
- Help volunteers find work experience
- Could also work for Bounties

It is more of a coordinative effort and to have one single place where to showcase these things instead of having it spaced out over several mailing lists and the like. I am ok for developers to also showcase t

[2015-06-05 11:00] Merelleya commented on #23
@underscorediscovery suggested we look at ghost.org

[2015-06-05 11:05] elliott5 commented on #13
Agreed @Simn, I'm confident those managers who choose not to invest in Haxe now, will come to regret it later.

[2015-06-05 11:11] Simn commented on #14
I can't help but think that this maps directly onto github issues:

release - milestone
feature - issue
state - label

I would like to avoid fragmentation so how about this: We mark the relevant feature-issues using some "roadmap" label, then write a small tool using the [GitHub API](https://developer.github.com/v3/issues/#list-issues-for-a-repository) to pull these and publish them nicely somewhe

[2015-06-05 11:19] elliott5 commented on #14
@Simn what a brilliant time-saving idea!

[2015-06-05 11:53] larsiusprime commented on #23
+1 for ghost

I use ghost for fortressofdoors. It's great, looks good on mobile & desktop, easy to theme, easy to use, and uses markdown input syntax with a live preview. I happen to have mine hooked up to a discourse forum to power comments (discourse also uses markdown which is super convenient) but that's optional.

[2015-06-05 11:58] Merelleya commented on #15
closed now.

[2015-06-05 11:58] #15 closed

[2015-06-05 12:03] underscorediscovery commented on #23
Re: ghost,
I also noted that it allows embedding custom js/html in any post. I use this extensively to provide post-specific information or functionality, embed web builds of games, and so on.

Ghost is also transparent, open source, and can be easily self hosted on any server.
It also runs really well, I've had posts hit front page of major sites without peaking over 2% cpu on a $10 VPS. I use it

[2015-06-05 12:04] Merelleya commented on #23
Its sounding more and more attractive. @jasononeil Would you mind having a look?

[2015-06-05 12:05] Merelleya commented on #23
whoops
sorry for deleting I saw it double?

[2015-06-05 12:05] Merelleya commented on #23
is there a way to un-delete stuff?

[2015-06-05 12:07] Merelleya commented on #23
@underscorediscovery I just re-post you pos. Gawd I am so sorry. this was not intentional!

Re: ghost,
I also noted that it allows embedding custom js/html in any post. I use this extensively to provide post-specific information or functionality, embed web builds of games, and so on.

Ghost is also transparent, open source, and can be easily self hosted on any server.
It also runs really well, I'v

[2015-06-05 12:39] ruby0x1 commented on #23
Re: ghost,
I also noted that it allows embedding custom js/html in any post. I use this extensively to provide post-specific information or functionality, embed web builds of games, and so on.

Ghost is also transparent, open source, and can be easily self hosted on any server.
It also runs really well, I've had posts hit front page of major sites without peaking over 2% cpu on a $10 VPS. I use it

[2015-06-05 12:55] Merelleya commented on #14
@Simn has gone off to work on an implementation

[2015-06-05 13:27] Merelleya commented on #23
I will include this in the description of the issue. We should expand on the sub-tasks as needed.

### Conceptualization
- [ ] Content Plan
- [ ] Editorial guidelines
- [ ] Editorial workflow
- [ ] Reach out to possible contributors

### Implementation
- [ ] Decide on a cms
- [ ] Design/branding
- [ ] Integration into the website

[2015-06-05 14:11] Merelleya commented on #5
I have started with a summary of the different channels and content types. I have as yet not included actual face-to-face events. I think that we will need to find different specific guidelines and campaigns for each of the channels.

We might have to have a very meta-groundfinding-session about what our actual _**core**_ messages are (the product message, so to speak). They will then help come up

[2015-06-05 16:18] delahee commented on #14
perfect.
Le 5 juin 2015 14:55, "Josefiene Pertosa" notifications@github.com a
écrit :

[2015-06-05 16:27] delahee commented on #8
Beside Nico, I volunteer for France of course but I would really like to
have a "serious App" sibling as my game focus can hurt. Maybe Silex, David
mouton or Stephane Ledorze could be interested ?
Le 5 juin 2015 12:11, "Simon Krajewski" notifications@github.com a écrit :

[2015-06-05 16:35] Simn commented on #14
I've got it to work but there are some SSL issues using it through neko, so I'm not sure how to automate it right now.

[2015-06-05 17:45] markknol commented on #23
+1 for blog.haxe.org

Do we want it to be part of the website, like the manual, or separate but in same style like the api docs?

Q:
- Can we easily allow multiple users in the blog?
- What format/editor does it use? Markdown or just html?
- Can you schedule posts?
- Wouldnt it be an idea to make the roundup haxe.io site be part of this blog?

[2015-06-05 17:45] andyli commented on #8
Let me handle the ones in Asia :D
- [JSConf.Asia](http://2015.jsconf.asia/)
- [PyCon](http://www.pycon.org/) Hong Kong / Korea / Japan / Singapore / China
- [HKOSCon](http://2015.opensource.hk/) ([I am going to speak at this one](http://2015.opensource.hk/agenda/topic/transcompiling-towards-the-freedom-of-programming-language-and-platform-choice/))

[2015-06-05 17:51] Merelleya commented on #23
Hi Mark,

specifications are further up. It is to be part of the website. Also almost everything you mentioned is listed in the features that I wanted. I think ghost.org allows for all of those, If my first cursory glance was any indication. It uses markdown.

I can talk to @skial about the roundups again but our last consensus was that we would feature them prominently, but that he would keep the

[2015-06-05 18:04] waneck commented on #23
About a pure haxe solution, I've made a little project some time ago for a
personal blog. It's at http://codegen.ml , and its code is so simple it
barely needs a library. The code is at https://github.com/waneck/codegen.ml
, and it generates static htmls for each blog markdown file, and I've setup
a github hook so it regenerates every commit to master. I'm still not happy
with the awkward github c

[2015-06-05 18:19] waneck commented on #8
I'll be happy to handle south american ones. Specially in São Paulo

[2015-06-05 18:39] Merelleya commented on #8
Ok, so everybody is quite happy to go to events in their region. May I task all of you with finding 3 events that you would like to go to (those of you who haven't put down any yet).

@andyli is there anything you need from us for preparation for your events? Just give me lots of shout-outs and we will try to make that happen.

[2015-06-05 18:57] Simn commented on #14
Here you go: http://haxe.org/community/roadmap.html

The idea is to automatically generate it using this tool: https://github.com/Simn/RoadmapExporter

I can only get this working using PHP and Java locally because SSL on neko/cpp hates me. I thought about just adding it to our travis in some way but I would really prefer a neko-based solution. I'm also not sure how we would pass the access key.

[2015-06-05 19:03] Merelleya commented on #14
I like!

[2015-06-05 19:19] Merelleya opened #26 "Corporate Design Items and Style Guide"
@markknol has agreed to put some work into some corporate design items.

I am specifically looking for a version of headed paper in case we want to send around documents and something that can be used for presentations. Also, the facebook page needs a new header and I remember there was a move to unify style across all social platforms.

While we are at it, we might also want to put some thought i

[2015-06-05 19:48] larsiusprime commented on #26
To start with, do we have SVG files or other non-destructed master assets for the Haxe logo and related branding stuff? (Neko, etc).

[2015-06-05 19:52] markknol commented on #26
The logo on the website is svg, not sure if there is a neko logo as svg.
Would it be an idea to create a new github repository with all brand assets? Or should they be on the haxe.org website?

[2015-06-05 19:53] waneck commented on #14
It's looking really good, @Simn ! One niptick: contribute to this page leads to the generated HTML, which is probably not what we want. :)

[2015-06-05 19:54] larsiusprime commented on #26
Why not both? There's lots of times when I've been writing an article and looking for an asset and just have to brave what google image search pops up with, then try to painstakingly remove the white background, etc. Github would be good for SVG... that's ultimately just text data right? And then have a page on the site for media, etc, to easily use.

[2015-06-05 19:56] Merelleya commented on #26
My thoughts exactly. We need a press/media page too,

[2015-06-05 20:02] markknol commented on #26
Yes it would be great to avoid the google image search, haha i recognize that too.

Ill think i first start on the headers, because sadly wwx is over.
I keep forgetting who is responsible for the social media accounts?

[2015-06-05 20:03] Simn commented on #26
The girl

[2015-06-05 20:07] waneck commented on #23
Okay, I've talked a little with Fiene about this, and if you want I can make a custom Haxe solution using the codegen.ml code and make it functional today.
There are I think two things from Fiene's list which aren't done right now, and they are:
- Scheduling posts: I'll make a custom cronjob which will hourly check for new posts, and add a mechanism to include a meta-tag to schedule them for a spe

[2015-06-05 20:19] Merelleya commented on #26
That would be me. Just to be clear, huh?

[2015-06-05 20:19] dogles opened #27 "Fundraising"
(Not sure if I'm supposed to post stuff in here or not.)

There are a lot of companies using Haxe. Some of these companies are big and/or well-funded. Making an effort to get them to donate or become a member of the Foundation would not only increase its budget, but would also increase the visibility and respectability of Haxe.

No one *likes* to go out and try to raise funds, and I'm not suggesti

[2015-06-05 20:22] larsiusprime commented on #27
Definitely. If they have even a few developers working with Haxe full-time, then they're already spending multiple salaries per year on it, so with the right pitch, a comparatively small investment from them could mean a big difference for the Haxe Foundation.

[2015-06-05 20:25] Merelleya commented on #27
I think we should do it and i know I am not the right person to do ot. So @ncannasse ...any thoughts?

I am happy to do the whole "keep in contact and maintain communication", though. I think Hugh put it nicely at WWX: We need a "RAWRRAWR-Guy"

[2015-06-05 20:26] Merelleya commented on #27
also: of course you are supposed to post things^^

[2015-06-05 20:40] dogles commented on #27
OK! Cool. :)

[2015-06-05 20:54] dogles commented on #27
I nominate @larsiusprime, he's got the right messaging. "For only a few cents a day, you could make a big difference in this Foundation's life!" ;)

I'll do some research on how other open source projects go about this sort of thing.

[2015-06-05 21:32] Simn commented on #14
I just realized that we don't want to update it on-commit but on-issue-update, so never mind all that! I'll just run the thing locally I suppose.

[2015-06-06 12:52] ncannasse commented on #26
While we're at it, maybe we could setup a shop with some branded goods (t shirt, mug, etc.) the goal is not to make benefit here but I'm sure some people would be happy to have them.

[2015-06-06 13:00] Merelleya commented on #26
As long as they are pretty....have you seen the game duell haxe-shirts at the con? I was insanely jealous!

[2015-06-06 13:08] ncannasse commented on #27
I'm been doing that since I started HF, from my own experience it varies. In big companies such as Nickelodeon this is actually quite hard to get the right person approval. When the technology is decided by the team, you often need upper management to get involved in signing a HF support contract. Sometimes (Massive if I remember correctly) even if there's a significant internal Haxe usage, the up

[2015-06-06 14:04] ncannasse commented on #26
Yes of course we want nice things :) Don't remember the haxe shirts sadly

[2015-06-06 14:33] waneck commented on #26
I remember @dpeek had done some t-shirt designs for Haxe which were great!
If anyone has any good ideas, it'd be great to hear them. Perhaps we could ask the community to contribute with designs. I've done some time ago a "Ask me about Haxe" which was inspired by "Ask me about Loom", from Monkey Island: https://twitter.com/cwaneck/status/591870035087519745

[2015-06-06 14:34] waneck commented on #26
Here's a reference topic https://groups.google.com/forum/#!msg/haxelang/nGKYxLfo9Ec/O4fkYKV-LscJ

[2015-06-06 14:47] larsiusprime commented on #27
A key issue with fundraising, especially when dealing with enterprise, is to try and figure out how much the person you're talking to is authorized to spend without having to go up the chain for approval. This is why so many software-as-a-service businesses have business models where they charge $499/month (or whatever), rather than asking for $6000 a year. That's because usually the project manag

[2015-06-06 14:54] Merelleya commented on #27
There are a few that I am aware of. I reached out to both Gamesys in London, who are very interested in having actual events (like a local user group) and to Net Entertainment in Sweden. Leo from Net entertainment took some time to send me a fairly detailed E-Mail about what sort of information he would need us to publish in order for him to be able to "sell" Haxe to their Management. What they ar

[2015-06-06 15:05] dogles commented on #23
My only concern with the custom solution is that maintaining/extending to it will continue to subtract time down the road. Is there any big advantages to this over using something like ghost? We use Wordpress for our blog (http://proletariat.com/blog) and it gets the job done reasonably well.

[2015-06-06 15:21] Simn commented on #23
I don't have a strong opinion in either direction but I trust waneck can build something that does not require ongoing maintenance.

[2015-06-06 16:00] ruby0x1 commented on #23
I think it's a monumentally bad idea to roll a hand made solution for a blog if the point is frequent or consistent updates. The more effort (no matter "how little") to create and publish a post, the less it will happen. Short, mid and long term in my experience it's a waste of time and will negatively impact the goals.

[2015-06-06 16:11] larsiusprime commented on #23
Have to agree with Sven here -- keep it simple, remove all friction that keeps you from posting.

[2015-06-06 16:34] waneck commented on #23
I don't know, every time I've used a custom blogging platform, all I had were headaches. From having to code in (ugh) PHP, lousy security/performance (which leads to the need of constantly updating it), to hard customization (lots of templates to change, features you don't need). In my own view, there is little reason to use a blogging platform for something that simple - specially if you know mar

[2015-06-06 18:36] waneck commented on #8
Okay, I wasn't aware of any dev conference here in Brazil. I'll look them up, and update this comment as I find them. But I've found for now:
- http://mobilebrazilconference.com.br/ - for mobile development
- http://qconsp.com/ - software development in general
- http://braziljs.com.br/ - javascript development
- http://www.thedevelopersconference.com.br/ - software development in general

There a

[2015-06-06 19:07] ruby0x1 commented on #23
Comparing against wordpress is a joke :) I would also suggest literally ANYTHING else - even mailing hand written letters to every reader on parchment is better. I didn't suggest wordpress for that reason, it's complete garbage.

Currently what you're suggesting though does not answer any of the needed features mentioned above. Multiple users, etc - I don't see ANY of that in the suggestion, sorry

[2015-06-06 20:00] Merelleya commented on #23
Let me just summarize:
- we have considered ghost.org
- we have considered @waneck 's solution

ghost.org is an open source project and also seems to support all the features I asked for. I can not comment as to its usability, since I have never used it before.

Caue is confident that his solution can support all the features I asked for as well and it would be made in Haxe.

Since the persons who

[2015-06-06 20:18] alebianco commented on #26
I was thinking of DIY-make some tees like gameduell had (loved their design) for when we start hijacking the local js meetups.
So yeah, the sooner we get officially branded things, the better

[2015-06-06 20:28] Merelleya commented on #26
I have included a list of the items mentioned above. Please do speak up if you would like anything else or can take care of a particular item (like the design for the shirts or whatever).

Game Duell's shirts were black and had the Haxe logo very big on the front. However, the logo was not filled in solid. It was just the outlines in the different orange tones. So there wasn't that instant-bam-ora

[2015-06-06 20:39] markknol commented on #23
I like wordpress tbh. It has all features I need and can easily be extended, its pretty good and has great userfriendly admin. _/me hides in the bushes_ :sweat_smile:

About the content, I just randomly dump my thoughts:
It would be great to have some items that are recurring, like links to the roundup, monthly highlights/thoughts from the compiler team (those tiny bits of simn are already very in

[2015-06-06 20:55] markknol commented on #24
Wouldnt it be weird to answer own questions? But if this is allowed, Who wouldnt want to gain some stackoverflow points?

As sidenote, I recently renamed lots of posts with haXe to Haxe.

[2015-06-06 21:00] larsiusprime commented on #24
Stack Overflow actually explicitly encourages you to answer your own
questions, because it's not just a site about providing answers to a
specific question so-and-so asks, it's designed to build up as an
SEO-optimized database of common Q&A's for any given technology.

On Sat, Jun 6, 2015 at 3:55 PM, Mark Knol notifications@github.com wrote:

##

www.fortressofdoors.com -- Games, Art, Design

[2015-06-06 21:13] markknol commented on #24
Thats good to know. While Im very often on stackoverflow (hehe who isnt??!), I have never seen a question that has been answered by same user. Maybe we should also encourage the irc users to ask more via stackoverflow.

[2015-06-06 21:15] larsiusprime commented on #24
It might also just be good practice to have some people ask common
questions and have other people immediately go in and answer them. Get the
ball rolling and maybe more likely to get better results that way.

[2015-06-06 21:28] Meychi commented on #20
Ok, there some graphics (ie. logos, installer, about) and readme and links that should be updated. What about startpage and appman integration? We could add removed parts to appman like as3 templates, snippets and such. Also what about FD help links? Should the app installer include Haxe installer?

[2015-06-07 08:53] ncannasse commented on #20
Yes, could you list all the image formats / design pieces you need ? @markknol will help provide them if it's ok with him.

I think a custom startpage is required too. What kind of Appman integration do you have ? (I've just run the Appman it was my first time since I've been using FD :) ).

Help links are more an issue, since I think they're redirecting to the FD Wiki. How often do you update the

[2015-06-07 15:10] Meychi commented on #20
Are you aware that HaxeDevelop has been used as a name in few occasions already?

[2015-06-07 15:27] kevinresol commented on #20
Will we consider name clash such as [this](https://github.com/jgranick/haxedevelop)? Although the repo seems abandoned.

[2015-06-07 16:30] kevinresol opened #28 "Priority of resolving issues"
In the main haxe repo, when filtering the label "bug" in the issue list, I can see a few issues that are opened more than a year ago. I am not sure but isn't that bugs should be fixed at highest priority?

Among other things, I guess proper issue management is also important for the language's future development.

[2015-06-07 16:38] Simn commented on #28
I think we're doing fine in that area. If an issue is open for a long time it's probably because nobody has yet found a good solution for it. These things can happen in compiler development.

It's perfectly fine to pick some low-hanging fruits as long as you don't go bike shedding constantly. I really don't see what you would like to see changed here.

[2015-06-07 17:23] elsassph commented on #20
Oh Joshua's MonoDevelop repackaging into HaxeDevelop - that was such a good idea, but obviously that requires a lot of contributors effort and nobody seemed to be very interested...

[2015-06-08 00:44] bguiz commented on #20
A a Linux user, the biggest missing feature of FlashDevelop for me was always that it could not run on Linux. I understand why this is the case for FlashDevelop, but since the Haxe compiler runs perfectly fine on Linux, I would **really, really** like for HaxeDevelop to support Linux too.

[2015-06-08 08:51] delahee opened #29 "Haxe in unix world"
Something that was inferred at FOSDEM.

Nobody deep in the unix/linux world really knows haxe because we have a very very big issue about distributions integration. Very often unix and linux teams are separated and have separated managements so if any of us is going to a linux/unix convention , we really need to have a fairly stable and recent haxe release available when we do speeches. Otherwise

[2015-06-08 09:13] delahee opened #30 "Ufront visibility"
I don't know but...
Since ufront is now a strategic asset, we should enforce our relation to it and leverage SEO and such with them.

For example : google "ufront" is not giving meaningful results to me...

@Merelleya Am I pertinent here ?

[2015-06-08 13:04] larsiusprime commented on #30
Ufront especially represents something Haxe is not as well known for as it should be -- _WEB STUFF_. And it's got a great sell -- a web framework where you can use the same language on the client AND the server.

We should really be hitting this up in the various hangouts for this sort of thing:
- https://www.reddit.com/r/webdev
- https://www.reddit.com/r/programming
- https://www.reddit.com/r/tec

[2015-06-08 13:12] Simn commented on #30
I just can't shake off that feeling that ufront is really "heavy". Maybe that's just because building haxe.org requires like 20 different haxelibs.

[2015-06-08 13:29] ibilon commented on #29
My two cents as a linux user:

There's no haxe or neko on the main repositories of openSuse, it seems there a 3.2 there: https://build.opensuse.org/package/show?project=games&package=haxe

A first step would be for the build server to make a rpm and deb, a second would be to make repositories for the biggest linuxs, not an expert on that but they look like a set of specific folders and a couple of

[2015-06-08 13:40] Meychi commented on #20
There are also a Geany hack and some Eclipse plugin.

Ok, i'll wait for @markknol's response. Startpage plugin can have a custom feed url or full url so it could be a online page too. Appman has a local xml config file and a online entry xml file. What about update checks? App support?

The few worries that i have are possible required maintenance of HaxeDevelop related stuff (we really don't have

[2015-06-08 15:04] kevinresol commented on #28
What about some voting system like [this](http://feedback.gitlab.com/forums/176466-general) or [this](https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/2104557-feature-request-break-on-next-statement)? That would also help the Haxe team to focus on things that are most wanted.

[2015-06-08 15:19] Simn commented on #28
I don't think that is necessary. I usually make it very transparent what is and isn't being worked on. Several factors play into the prioritization of issues and popularity within the community is only one of them.

[2015-06-08 15:26] ashes999 commented on #29
Two more cents from a dual Windows/Unix user on the Unix experience:
- The haxe versions available in repos are usually outdated. Very outdated.
- The installation experience is smooth on Windows. On Linux, it's harder, because of Neko integration specifically. HaxeFlixel maintains an excellent script to manage this; I think there are already discussions to reuse that for "core" Haxe.

[2015-06-08 15:30] lucas-jones commented on #20
bguiz - Linux/Mono Support +1

[2015-06-08 15:38] larsiusprime commented on #20
Honestly, have a genuine "HaxeDevelop" branded IDE would go a looong way to
ending the confusion around Haxe being some weird Flash spinoff, which is a
lot of outsider's first impression. Having read all the stuff in this
thread, I vote for starting by focusing on the minimum work necessary to do
the rebrand without getting too lost in grandiose plans that could derail
that effort. Linux/Mono supp

[2015-06-08 18:10] mpcref commented on #16
Some more inspiration:
I quite like github's [interactive step-through](https://try.github.io/levels/1/challenges/1) tutorial.

[2015-06-08 18:41] ruby0x1 commented on #20
I agree Lars, however there is the fact that "the monster under the bed" has been there for YEARS and just keeps getting pushed back. It sounds like a good opportunity to take the risks, in a secondary target that won't impact the primary users short, medium, or long term (except for the better).

All it means is putting the work in once, from the outset. It's hard work, but I don't think it's wor

[2015-06-08 18:55] ncannasse commented on #20
Let's not talk about native Linux/OSX support for now. It's up to the FD team to decide how and when to address this, they are quite aware of the actual problems to make this work and I trust them to make the good choice here. Also, while I would be happy to have Haxedevelop native everywhere, this is an entirely different topic so let's keep focused on getting Haxedevelop done using current FD ba

[2015-06-08 18:55] ncannasse commented on #20
BTW ping @markknol :)

[2015-06-08 19:22] markknol commented on #26
**Social Media Headers**  Maybe _the girl_ wants to add it to all social media platforms? http://projects.stroep.nl/haxe/social-media.jpg cc @Merelleya

[2015-06-08 19:36] Merelleya commented on #26
I can assure you that _the girl_ hasn't the slightest idea what you are talking about xD

[2015-06-08 20:20] markknol commented on #20
Hi! I'd love to help on this. It would be nice to have an assetlist what's needed. I think we first need to start on a logo/mark and work further from that point.

[2015-06-08 20:23] Merelleya commented on #30
I will put this on mine and @jasononeil s list. However, as far as I know, the Ufront site is quite new. It takes a while for a site to be properly ranked. Especially if there is not much content on it. There are some small technical things one can do, but other than that, it all boils down to the content, recency and to a certain degree back-links, although getting a link profile artificially is

[2015-06-08 20:25] Merelleya commented on #26
@markknol it comes out rather odd on facebook. would you mind terribly looking into the different sizes required and see how it would fit and look best?

Thanks a lot!

[2015-06-08 20:59] delahee commented on #30
Ok fine as long as the topic is on your radar :)

[2015-06-08 21:26] nadako commented on #30
I'm with @Simn about heaviness feel because of ton of libs, maybe it makes sense to review whether all of them are really required.

[2015-06-08 21:50] dpeek commented on #30
I don't understand this fear of dependencies. Heaven forbid a Haxe developer used some existing code rather than reinventing all their wheels!

It's not like Rails is monolithic: actionmailer, actionpack, actionview, activejob, activemodel, activerecord, activesupport, bundler, railties, sprockets-rails

[2015-06-08 23:47] PartyGodTroy commented on #20
Is it too ealy to start making project templates / quickstarts

[2015-06-09 01:29] hughsando commented on #30
I think dependencies are fine (good, in fact) as long as they are properly
decoupled.
So if ufront requires some of Lib A, and some of Lib A requires Lib B it
does not necessarily follow that ufront requires Lib B, depending on which
parts of Lib A are involved.  And if you avoid dependency hell, where you
need older versions of any of the libs for any reason, there should not be
a problem with ma

[2015-06-09 04:11] jasononeil commented on #30
Hey all, sorry for the late reply to this... it has taken me a while to recover after wwx.

### Visibility

I am waiting till I have a stable haxelib release (v2).  To achieve that, I need to work with David on a haxelib release of minject v2 (@dpeek I'll try leave my comments on that soon).

Once that haxelib is up, the tutorials will be significantly easier to try out, and THEN it's worth doing

[2015-06-09 07:37] ncannasse commented on #30
When it's a small 1/2-class library that is not exposed to the end user but used internally, maybe you could simply include it in library.

I'm in favor of "batteries included" approach, and I think that having one big library is often better than having several split ones, even if they have no direct dependencies between them, but when they are part of the same "framework". It also prevent "libra

[2015-06-09 07:50] markknol commented on #20
@kidveno I dont think so :smile: What are your plans?

[2015-06-09 11:18] delahee commented on #25
- The "contribute via github" thing when possible is awesome.
- For the "find your developper", maybe we could architecture two aspects:
- Post an a job offer
- Post an a job proposal

and do some basic matchmaking.
The french game site afjv.org made a very nice job of doing that kind of thing.

Just 2 cents.

[2015-06-09 15:26] BigPhilCombo commented on #20
I have a little bit of apprehension about the project - I'll save the cross-platform concerns for later as that has already been addressed.  Having 2 versions of FlashDevelop could be confusing.  Would it not make sense to have a single IDE, where the user can choose the preferred development target (Flash, Haxe or whatever future platforms the IDE could support).   I've previously advocated for a

[2015-06-10 00:22] kulick commented on #4
(Just back to Cali and sorting through action items...)

So happy to see the great organization here.  Go team!  =)

The summary looks fairly complete to my memory.  Nice work!

Regarding haxe "call-in"...I have an action item to make public the TiVo repository with our haxe call-in thinking, use case matrix and sample code so expect to see that over the next few weeks.  We're currently collating

[2015-06-10 00:26] kulick commented on #5
I think this list looks good, but ambitious.  I think it might be helpful to choose a few areas in which to apply your initial focus.  I wouldn't be surprised to hear you say that you already plan something like that.  If so, could you name the areas of focus for, say, the next 3 months?  6 months?

I have taken an action item to reach out to my press team regarding a joint press release.  I will

[2015-06-10 00:42] kulick commented on #9
I am currently meetup.com owner of the Haxe group in the Bay Area.  I follow in Justin Donaldson's footsteps on this.  We have done three or four events, one here at TiVo.  Turn out has varied from 10 people to 25 people.  Still growing the community.

I would welcome advice or, even better, prepackaged content that might make a good meetup topic.

[2015-06-10 00:48] kulick commented on #9
Reading this got me off my butt and I kicked off a thread about having another meetup later this month...  :)

[2015-06-10 00:52] kulick commented on #10
I love the tone here and agree with all comments.  :+1:

Personally however, I will be sad if @delahee stops making bad jokes.  ;)

[2015-06-10 00:58] kulick commented on #11
I agree that including those groups will lead to a better, stronger Haxe community.  I also think that those teams may be able to help with /some/ of the goals/issues covered here.  That said, I understand the thinking behind keeping this repository about PM execution and creating another space for broader coordination.  I support either/both.

[2015-06-10 01:27] kulick commented on #21
I don't see GameDuell on your list and they seem like another very interesting candidate for a showcase.

[2015-06-10 02:47] fullofcaffeine opened #31 "Neko's Roadmap (and debugger)"
Just linking to the issue I've started at the Neko repo, since I think it makes sense to list it here, too:

https://github.com/HaxeFoundation/neko/issues/74

cc @Merelleya

[2015-06-10 07:59] PartyGodTroy commented on #20
@markknol A few project templates / quickstarts for each of Haxe' targets

##### JS
- Simple website Jquery bootstrap
- Angular.haxe site w/ bootstrap
- Flambe
- Pixi.js

##### CPP / Neko
- A console "Hello World"
- Threaded Program
- Some sort of server
- Native Extension

##### C# / Java
- portable library (build a jar and .net .net dll from the same source)
- HUGS
- Unity3D
- Androidhx

##### P

[2015-06-10 08:14] Merelleya commented on #21
I have added them. I have actually spoken to them already and we both agreed to wait until they had their first Haxe game released (they have released games, but no Haxe game so far).

[2015-06-10 08:22] Merelleya commented on #5
My number one priority at the moment is launching the showcases, keeping them coming and get the Blog rolling. Next, I will probably want to tackle a press section on the website and a press kit as well as re-arrange some neglected parts on the website to make it a little better structured.

I do have an eye on the social media daily and cross post some things, but at the moment I don't have enoug

[2015-06-10 08:27] Merelleya commented on #31
Please feel free to comment this into the Roadmap issue #14 , since I think that Simon's solution may work for neko, too. So it might be worth looking into it once there is a plan for neko.

Thank you,

Fiene

[2015-06-10 08:27] #31 closed

[2015-06-10 08:34] ncannasse commented on #5
@Merelleya PR is long term investment : it will take a lot of time at first, and don't expect immediate profitability for it. But the next time it will take less time, and we will have more visibility, and even better next time, etc. Let's get started asap so we start building up our skills/reputation

[2015-06-10 08:34] Simn commented on #31
I guess the main question is what the roadmap _is_, not where/how to display it. But that discussion makes more sense in the neko repository.

[2015-06-10 08:41] Merelleya commented on #5
All right then. I propose we start with something like TiVo being our partner for the third year or something product related. Input more than welcome.

[2015-06-10 08:45] Merelleya commented on #24
Now, I would need for someone to take a lead on this and move forward by, for instance, compiling a list of questions as well as coordinating with the others?

[2015-06-10 08:47] ncannasse commented on #5
Yes, something sounding like "TiVo and Haxe Foundation partnership strengthen , TiVo to generalize Haxe adoption for all its products" (which is what I understood from WWX slides) -- followed by success story description about increasing adoption of Haxe in TiVo and how it works good for them, quotes from myself and Todd? about how we are happy to work together etc (the usual PR stuff)

@kulick te

[2015-06-10 08:50] Merelleya commented on #10
comment moved.

[2015-06-10 08:52] Merelleya commented on #6
@delahee via #25
- For the "find your developper", maybe we could architecture two aspects:
- Post an a job offer
- Post an a job proposal

[2015-06-10 08:55] Merelleya commented on #11
For my taste, we have a lot of discussion with very few actionable tasks at the moment. However, since we have never had this sort of discussion before now, I will wait a few weeks more, to see if things calm down a little. Otherwise, I would be concerned about "finding" the "stuff to do" within all the threads.

We have had some input from community members here, too, so I think in some cases thi

[2015-06-10 08:58] ncannasse commented on #10
We cannot have something like mozilla with actual roles since we are a much much smaller organization were everybody does some quite specific things, but I'm in favor of updating our haxe foundation pages with as much information as we can, in order to be more transparent, regarding the following things:
- who is haxe foundation
- what are our goals
- how we are financed
- how do we spend the mone

[2015-06-10 08:58] Merelleya commented on #22
I will put this into the backlog and make a to-do list including the above points once I get around to it. (In terms of "launching content" and "curating/promoting content").

[2015-06-10 09:01] Merelleya commented on #16
Anyone wanting to take the lead on this one? Otherwise I will have to see when/how @jasononeil can get to it.

[2015-06-10 09:01] elsassph commented on #20
More templates is a good idea - the challenge is to maintain them (ie. they should not break when some dependency do an API change).

[2015-06-10 09:03] Merelleya commented on #9
So you think it would be cool if we prepared Haxe-Lessons or some sort of content-package with ready-made presentations or Lessons that you could then hold at the meetups?

I think this is a nice idea, we would have to think about the format, though. I remember there was an initiative to get maths teachers to teach more programming last year, and you could get ready-made lessons with activities an

[2015-06-10 09:03] Simn commented on #10
We give answers to most of these questions already. What's missing is the whole finance section.

[2015-06-10 09:05] ncannasse commented on #10
I meant, in a much detailed way than it is right now

[2015-06-10 09:06] ncannasse commented on #10
Our about page is currently short, which is fine for an about page, but we should have more details on other pages http://haxe.org/foundation/

[2015-06-10 09:09] kulick commented on #11
Sounds good to me!

[2015-06-10 09:10] Merelleya commented on #10
I think we should look at the whole "Foundation" section and structure the information a little better. The who-is-who page and a more detailed "article" on what we do and why and how should also be included soon. I will give this some thought and see if I can come up with an outline.

[2015-06-10 09:10] kulick commented on #5
Need to run by my PR guy.  I'll try to catch him tmw and get back to you...

[2015-06-10 09:24] ncannasse commented on #10
Once thing I would like to highlight is that HF is not like a SF startup that just came our of nowhere. Having a small graphical timeline showing when haxe was created, how it evolved (1.0,2.0,3.0) and telling that HF was setup to make it grow even further should help with this.

I'm always a bit worried about the negative part of this ("I had never heard of it before") so we have to find a good w

[2015-06-10 09:35] Simn commented on #10
I'm torn on this. I get your "never heard of it before" argument, but at the same time something that has been around for 10 years has a strong notion of stability.

[2015-06-10 10:24] markknol commented on #26
Can you put the header also online for twitter/gplus? You don't have to crop/move it.

[2015-06-10 10:27] elliott5 commented on #10
The 10-years-of-Haxe story is very strong indeed and provides solid evidence of stability.

"Why have I never heard of it before?" because it was built by programmers for programmers, without  some wealthy corporation pushing it along to further their own agenda. Those businesses who know about Haxe have been quietly using it for many years as a way to reduce their software development costs and f

[2015-06-10 11:21] delahee commented on #12
On my todo list then ! :)

[2015-06-10 11:26] delahee commented on #11
You are all right, nonetheless there is a problem about what i call "community intersection". There is clearly sub communities not "aferring" to haxe foundation. Those sub communitites are vital to us but there are defiance building. At least let's keep that in mind and try to open bridges. On my side, i'll try to reach them when opportunities come.

Ok for close to me. I'll get back with somethin

[2015-06-10 11:34] delahee commented on #23
2cent ... Whatever technical solution, it's the owner affinity to the tools that should prime, especially since all great contents are now inter-exchangeable. voting for this is not very desirable :)

[2015-06-10 14:42] lucamezzalira commented on #9
Hi All

I started to talk with Philippe Elsass to organise a meetup about Haxe in my JS community (http://www.meetup.com/London-JavaScript-Community/) in London.
I'd like to involve also David from Massive Interactive and someone from Gamesys, that recently moved to Haxe for some of their games, in order to do 3 talks in the same event showing the platform and trying to explain why they should giv

[2015-06-10 14:44] lucamezzalira commented on #8
In Amsterdam there will be also OSCON Europe: http://www.oscon.com/open-source-eu-2015 for open sources technologies

[2015-06-10 15:07] bablukid commented on #9
After the WWX, I registred on meetup.com on PHP and JS groups and I'll introduce haxe in these groups in Bordeaux and Paris as soon as possible.

I also got some plans of contaminating digital artists, since we can now use haxe for Processing and OpenFrameworks

[2015-06-10 15:27] lucamezzalira commented on #21
@Merelleya I'd suggest to keep in touch with Gamesys that recently switched partially to Haxe, in particular try to contact @adireddy and @alebianco for showcases or potential talks

[2015-06-10 15:35] Merelleya commented on #21
am in contact with @alebianco regarding a showcase for when things get moving. I am more in need of something I can start to work on...like...now xD

[2015-06-10 15:40] lucamezzalira commented on #21
They have just released the first project made with Haxe:
1. go here https://mobile.sunbingo.co.uk/?&acquisition-channel=affiliate&btag=ns_41488b_10924c_april15&publisher_id=14492&creative_id=10924&agent_id=4&deal_type_id=1&rdr=467312804#/ with a smartphone or open the simulator on Chrome
2. Bingo 90 Candy and Bingo 90 Jazz are made with Haxe.
3. register to play and enjoy :D

So I think you shoul

[2015-06-10 15:41] PartyGodTroy commented on #20
@elsassph I considered that. While having every project use the latest version of every lib they include would be ideal, I think it would be more  consistent to support the most stable and feature complete version  of each library. It would be awesome if HaxeDevelop had a remote project template  server, that lib creators  could post to

[2015-06-10 15:47] kevinresol commented on #20
I think FD should allow installing template from a repo url. And check for updates somehow

[2015-06-10 15:50] fullofcaffeine commented on #31
Cool, thank you guys.

[2015-06-10 15:51] waneck commented on #20
I would love if HaxeDevelop didn't use a special `hxproj` xml file, but instead would use `hxml` simply. I think there are no features that need a special `hxproj` format that can't be instead used in a simple `hxml`

[2015-06-10 16:02] ConfidantCommunications commented on #30
+1 to Nicolas :)

[2015-06-10 16:02] lucamezzalira commented on #21
@Merelleya I've just chat with @alebianco and if you can contact his line manager to have the approvation of the legal department he thinks you should be able to use Bingo as case history :D

[2015-06-10 16:27] nadako commented on #20
+1 to @waneck

[2015-06-10 16:36] Simn commented on #20
Guys, can we take one step after another please? :)

[2015-06-10 16:49] ncannasse commented on #20
Yes, please let's keep to the basis of having it actually released first.

[2015-06-10 18:49] fullofcaffeine opened #32 "Satus of Basis"
Basis*[0] is listed in the official Haxe website as a feasible framework for building apps for iOS/Android. The problem is that the library doesn't seem to be maintained as of late (last commit is from 2013). Might worth contacting the author and checking its status.

[0] https://github.com/Randonee/Basis

[2015-06-10 19:08] PartyGodTroy commented on #20
@pchertok brings up a good point
 "I have a little bit of apprehension about the project - I'll save the cross-platform concerns for later as that has already been addressed. Having 2 versions of FlashDevelop could be confusing. Would it not make sense to have a single IDE, where the user can choose the preferred development target (Flash, Haxe or whatever future platforms the IDE could support).

[2015-06-10 19:21] ncannasse commented on #32
I don't think this has anything to do here. Please reopen on HaxeFoundation/haxe.org if you think that it's not appropriate to have it listed there.

[2015-06-10 19:21] #32 closed

[2015-06-10 19:49] fullofcaffeine commented on #32
Cool, thanks.

[2015-06-10 21:44] elsassph commented on #20
In fact FD now supports hxml as configuration, like it supports openfl's project.xml or flambe.json: with latest FD5, create an empty project where you have an hxml, go to project settings and choose hxml as target in the list (where you have javascript, flash, openfl,...).

Having remote projects would be cool as hell, but that's a bit more work ;)

[2015-06-11 01:20] andyli commented on #21
I found that [the top 3 games of the Ludum Dare 32 were made in Haxe](https://twitter.com/ncannasse/status/598041755540389888) very impressive. Maybe we can do a simple interview-style blog post with the winners?

[2015-06-11 08:43] Merelleya commented on #14
Is this ready to be included into the haxe.org site? Is there something else that needs doing or any additional preparation?

[2015-06-11 08:46] Simn commented on #14
I don't know if we want to automate this using a github web hook.

[2015-06-11 08:51] Merelleya commented on #11
I will close this for now and keep an aye on how the PW Repo is being used in the meantime. We may open a discussion Repo at some point in the future, if it gets "unmanageable", but I think it will be alright.

[2015-06-11 08:51] #11 closed

[2015-06-11 08:51] Merelleya commented on #25
Added a Wiki Page with Notes.

[2015-06-11 08:51] #25 closed

[2015-06-11 08:57] Merelleya commented on #4
Updated the page. moving this to closed. Thanks everybody!

[2015-06-11 08:57] #4 closed

[2015-06-11 09:03] ncannasse commented on #14
The roadmap is not complete atm, we need to have a quick meeting to see what are our big next steps

[2015-06-11 09:05] Merelleya commented on #13
Ok. Could we discuss a specific format so we can move ahead with this?

[2015-06-11 09:11] ncannasse commented on #13
We have the PDF from our accountant, but they are in french and not much usable by normal people

[2015-06-11 09:18] Simn commented on #13
Yes m'lord... more work?

[2015-06-11 09:22] ncannasse commented on #13
I just got Skyped by fiene about how aristocratic it was sounding :) in french it works well, I didn't meant   it that way of course, "normal people" was the correct word, I'll edit :)

[2015-06-11 09:26] Simn commented on #13
ftfy :)

[2015-06-11 14:28] waneck commented on #21
Wow, that'd actually make an awesome post / maybe even a press release?

On Wed, Jun 10, 2015, 22:20 Andy Li notifications@github.com wrote:

[2015-06-11 16:50] waneck commented on #16
I'll take the lead. I'm working on teaching Haxe anyway - and this will come as a big help. I'll first fork try haxe and add a "tour" navigation, or something. We can then create a working group to discuss possible improvements

I plan to get this done by June 22

[2015-06-11 18:08] markknol commented on #16
Great, looking forward to it!

[2015-06-11 22:31] kulick commented on #9
@Merelleya: Yeah.  We would need to think about the format and audience some though.  Haxe appeals to such a broad array of people for a broader array of reasons.  Regarding format, most of our meet ups have been very informal, just people and space for talking (no projectors, audio, private space, etc.) so complicated lessons (like the excellent macronauts talk on WWX workshop day) would require

[2015-06-11 22:34] kulick commented on #13
You guys crack me up.  ;)

[2015-06-11 22:35] kulick commented on #21
@andyli & @waneck : Agreed.  That is super impressive and interesting.  And I only play computer games.  ;)

[2015-06-12 05:15] kevinresol commented on #28
Closing this. The topic is better discussed [here](https://github.com/HaxeFoundation/Project-Management/issues/14)

[2015-06-12 05:15] #28 closed

[2015-06-12 08:37] Merelleya opened #33 "T-Shirt Designs and Printing"
I am opening a new issue for this, since it is not exactly what I asked @markknol to do in #26.

If we are to have T-shirts, we need to sort out the following:

* [ ] Design and color options
* [ ] Printing service
* [ ] Shipping

We need to decide, whether we want people to order the shirts through the Haxe Foundation/Site, or whether they should order them directly at the printers. If we have pe

[2015-06-12 08:39] Merelleya commented on #26
I have taken out the printed items and moved them to #33

[2015-06-12 08:43] delahee commented on #33
We used comboutique.com back in the days.
I would vote for a solution that would create a money income for the foundation, as creating custom shirts is really mainstream these days.

[2015-06-12 12:12] delahee commented on #29
leaving link archives : https://launchpad.net/~eyecreate/+archive/ubuntu/haxe

[2015-06-13 06:36] polarathene commented on #23
While blog posts with all mentioned content is neat, sometimes there is interesting/relevant info in past blog posts, perhaps a google search landed on a few blog posts back and the area of interest to the user is discussed in previous articles. Tagging becomes useful here, along with related posts. Please consider discoverability, I've personally benefited from this type of feature many times in

[2015-06-13 23:45] mikicho commented on #33
I want two T-shirts and 2 coffee mugs . Plz :D
Not sure about the mugs but maybe this site can help with the shirts http://www.spreadshirt.com

[2015-06-13 23:48] mikicho commented on #33
I mean this:http://www.spreadshirt.com/-C59

[2015-06-14 17:40] markknol commented on #26
@Merelleya Can you put the header also online for twitter/gplus? You don't have to crop/move it.

[2015-06-15 11:56] delahee opened #34 "haxe.org social connectors"
Regarding SEO etc, the haxe.org main page should have social connectors like g+1 fb like etc as it dramatically improves discoverabilty and SEO.

ex :
https://www.facebook.com/pages/Python/283172211807319?fref=ts

[2015-06-15 11:57] delahee commented on #12
@Merelleya I started gathering ideas, Iwas thinking of three  post :
- Best practices for contributors
- Best practices for maintainers
- upgrade the "contributing" article.

You ok with this ?

[2015-06-15 12:00] delahee commented on #12
Leaving notes here :
Nice articles about fundamentals : http://thecommunitymanager.com/2013/09/26/how-to-write-effective-community-guidelines/

[2015-06-15 12:01] delahee opened #35 "http://devdocs.io/"
A mozilla guy told me we should be here : http://devdocs.io/. I'll try to see what it takes.

[2015-06-15 12:04] delahee commented on #29
link for suse : http://rpm.pbone.net/index.php3/stat/4/idpl/23755285/dir/opensuse/com/haxe-3.0-81.7.i586.rpm.html

[2015-06-15 12:05] delahee commented on #29
link for neko centos : http://rpm.pbone.net/index.php3/stat/4/idpl/23755262/dir/centos_6/com/neko-2.0.0-65.1.x86_64.rpm.html

[2015-06-15 18:24] markknol commented on #35
All we need to do is vote https://trello.com/c/5WlUgFkZ/213-haxe

[2015-06-15 18:28] markknol commented on #35
I asked the community to vote https://groups.google.com/forum/m/#!topic/haxelang/owGzROSWq8Q

[2015-06-15 19:31] Merelleya commented on #35
@delahee please close if this satisfies your investigation into the topic^^.

[2015-06-15 19:40] Merelleya commented on #34
That is not true, unfortunately. Social connectivity has no impact on search engine results as such. There is a slight correlation between sites that have good social profiles and their performance in SEO, but it is unclear whether the social activity actually causes search results to be better or not. It may as well be that extensive social marketing often goes hand in hand with SEO (as in - if y

[2015-06-15 19:43] Merelleya commented on #26
@ncannasse would you mind doing that? I am having trouble logging in to the haxe_org account again ~.~

[2015-06-15 19:43] markknol commented on #34
I think it would make more sense to have such social buttons on our new blog.

[2015-06-15 19:45] Merelleya commented on #34
+1
For the articles on the blog I think it would be nice to have, yes, since that would be fresh content we are looking to have people share. good point ^-^

[2015-06-15 20:01] ncannasse commented on #26
Done on twitter

[2015-06-15 20:02] ncannasse commented on #26
BTW we have two twitter accounts : haxe_org for official HF news, and haxelang for Haxe community news. haxelang has more traffic, we should post more often on haxe_org (the roundups for instance), that is, if @Merelleya can actually login into it :)

[2015-06-15 20:44] Merelleya commented on #26
I can use it through tweetdeck no problem. We should look into buffer, too, for scheduling.

[2015-06-16 08:37] delahee commented on #35
If it is ok to you, I ll close when our content is available so that the
issue pester us to take more actions :)
Le 15 juin 2015 21:31, "Josefiene Pertosa" notifications@github.com a
écrit :

[2015-06-16 16:36] fullofcaffeine commented on #33
By the way, GameDuell made a really cool design for a Haxe t-shirt that the gameduell guys were wearing at the WWX2015. I asked them if they could release the design under (maybe) a creative commons license, let's see! /cc @catdawg

[2015-06-16 21:10] kulick commented on #29
The other Linux specific problem that I see regularly is related to an interaction between neko and the strip tool.

I've been meaning to write this down (write this up?) for a while now.  This may not be the best location for this write up.  If people know of a better location, feel to copy this text or tell me the location and I'll do same.  :)

Problem description: Running strip on programs con

[2015-06-16 21:25] lucamezzalira commented on #23
Can't we use medium to have the possibilities to reach more people and maybe have a simple page in the website where we collect all the article on medium?

[2015-06-16 21:49] kulick commented on #29
Here is another example error...

$ cp /usr/bin/nekotools .
$ strip nekotools
$ ./nekotools boot example.ml
Uncaught exception - load.c(181) : Module not found : boot

The error you get depends on how you try to run what is in effect the neko interpreter.

Here are some search matches that I think are actually this problem (usually misdiagnosed)...

  https://code.google.com/p/nekovm/issues/detail

[2015-06-17 06:33] delahee commented on #29
@kulick I took liberty to uplift the issue here https://github.com/HaxeFoundation/neko/issues/75

[2015-06-17 06:39] delahee commented on #14
@Simn @ncannasse the roadmap should include neko#75 as it impacts the ecosystem deeply, I would also totally be ok for funds to be allocated to its fix.

[2015-06-17 06:49] Simn commented on #14
I agree it's important and should be addressed ASAP.

However, we'll have to decide what we want to do with neko in general. It is currently not listed as [supported project](http://haxe.org/foundation/supported-projects.html). Should it?

[2015-06-17 06:52] delahee commented on #34
Social connectors have an effect on seo as backlinks and serp, as the seo for the said social media and Google scans for g+1 so saying l... they don't impact contradicts my experience as Web dev... Even if it has lost power it is a highly cheap way to gain traction.

So I insist we should have g+1 and fb like targeting haxe.org.

http://www.forbes.com/sites/jaysondemers/2015/01/27/6-social-media-p

[2015-06-17 06:56] Simn commented on #34
Could someone fill me in on what a "social connector" is?

[2015-06-17 06:59] delahee opened #36 "Press Release / Communiqué"
I don't want to express opinion for paying for Press Release Sending or Public Relation agent.

But I need Press Release document for haxe 3.2, if you ever meet the press they say,  I am ok to speak about new haxe release, please send me the Pr. And whoops.

The press need this material, and I need it to communicate and fast forward material to press.

If it is ok with the team, I can redact and p

[2015-06-17 07:01] Simn commented on #36
Isn't it a bit late to make a press release about 3.2?

[2015-06-17 07:12] delahee commented on #36
...we need material, when the first is done, next will be easier and faster to setup, it also needs to be here for Press searching about haxe in Google.  We can totally prepare something for haxe 3.3 but who knows when it will out.

For  a power user or investor or journalist, don't really care about timing, he needs the material.

We can also issue one for wwx or the gameduell team or whatever ev

[2015-06-17 07:18] delahee commented on #14
Iny my quality of Fool of the King, Nitpick, Naysayer and Executive Great Goblin Cook, Since Tivo and Mt and other partners have strategic assets, since the Hf host neko on github, since it invades haxe propagation strategy, I now proclaim Neko as a new great ancient and that the Hf should certainly support it. But it's only imvho as usual.

[2015-06-17 07:48] Simn commented on #36
I still think you guys overestimate the effect of press releases. From what I've heard they only make sense if you do them on a regular basis, so it's not even very easy to "try it out". Still, I think we should go for a joint TiVo/HF press release first and see if it does anything at all, then reevaluate.

[2015-06-17 08:04] delahee commented on #36
Sorry simn if i am not clear. I don't overestimate anythign, i know very well of their small added value, I just "need" some material to communicate with journalist who ask me, it is a fact not an assumption or anything speculative. But it's not a problem if the hf will not endorse them i ll build someting unofficial for my own needs :)

[2015-06-17 08:14] ncannasse commented on #36
I think what David needs is a place on haxe.org where we put our PR, and having at least one published. I think it makes sense, and we have better get started early since we will do PR in the near futur anyway, and for this part we don't have to wait TiVo or anybody else :)

[2015-06-17 08:23] ncannasse commented on #14
It should be listed supported project since we support it.
I've to the ELF thing on my (already quite long) TODO list, if someone else want to tackle the issue first, don't hesitate!

[2015-06-17 09:00] delahee commented on #14
#friendmode I don't want to make anybody incomfortable, but @simn could you acquire these skills ? My family life do not allow me to get deep into those kind of issues and I cannot allocate MT time for these class of bugs.
Feel free to rebuke me if you think i am the slightest out of my place, no hard feeling at all.
Bisous !

[2015-06-17 09:03] Merelleya commented on #36
For all website-related stuff we do need to wait for @jasononeil to finish his cross-country move, which should be this week-end. We need to allocate a space in the menu on the website. I think that a "Press" section in the main Menu is ok for now, but we will also have to re-vamp the use-case menu and see where to fit the blog and the showcases and the Manu is sort of cluttered as it is.

@delahe

[2015-06-17 09:04] Simn commented on #14
Frankly, I would prefer not to. I know almost nothing about neko and getting to a state where I could actually help would take me a long time which I would rather spend on other things.

[2015-06-17 09:11] Merelleya commented on #34
They are like this:

![capture](https://cloud.githubusercontent.com/assets/5541210/8203306/07ac08ee-14e1-11e5-9f91-c8260c207d8e.PNG)

@markknol could you check if you can find a version to fit the website design or even incorporate it into your new design? They should be somewhere not too obtrusive, though. Maybe we can settle for something similar to python?

![python](https://cloud.githubusercon

[2015-06-17 09:12] Simn commented on #34
I don't like the ones that make you like/follow something automatically, but I wouldn't mind just linking to our social media.

[2015-06-17 09:19] Merelleya commented on #23
I actually would prefer to have the posts themselves on the haxe.org site so as to have editorial content that is being updated regularly.

Since I have never worked with [Medium](https://medium.com/) I don't know what impact it has on discoverability, though. Any opinions?

[2015-06-17 09:23] delahee commented on #36
@Merelleya Perfectly fine ! Thanks !

[2015-06-17 09:24] delahee commented on #34
sidenote : Python communication is top notch, fine for me.

[2015-06-17 09:32] lucamezzalira commented on #23
The plus on Medium is only the fact you can reach new users because anybody could write in that platform and all the articles are shared across the Medium network.
Recently I saw a lot of bloggers moving from wordpress to Medium and I saw @ncannasse is using it too.

Another interesting metrics that could be more a "marketing move" could be write _also_ on linkedin, recently I published the same a

[2015-06-17 09:32] Merelleya commented on #29
I have to ask since I feel a little confused: Is this issue in the right repository?

It seems to me that this is about getting issues in other repositories fixed or actions taken with regards to having stable linux realeases of both Haxe and neko. If that is the case, would you mind transferring the "To-Do"s and discussion there?

Also, @delahee, would you mind making a list of things that you wa

[2015-06-17 09:35] Merelleya commented on #23
So we should keep this in mind and maybe:
- have our blog
- occasionally post on medium and/or linked in
- Have a page where we collect articles (not just our own but other's, too)

@lucamezzalira how do you deal with duplicate content in this context? (I assume if you post the same post on several platforms it might get identified as duplicate?)

[2015-06-17 09:37] lucamezzalira commented on #23
What I did last weekend was just a manual copy and paste in different platforms, they didn't complain :dancers:
Probably there are better way to spread the post in different platforms, mine was mainly a test to understand which platform reached more people

[2015-06-17 09:54] markknol commented on #34
http://projects.stroep.nl/haxe/navigation/ < Yes I already planned this, maybe we should call the main menu item "connect" or something.

[2015-06-17 10:00] Merelleya commented on #34
Socialize or Connect with us, I think. Thank you so much, Mark. You're a veritable star.

[2015-06-17 10:25] polarathene commented on #23
You might get ranked lower in google searches if crossposting to multiple blogging platforms due to duplicate content, if anyone has SEO knowledge that'd be useful to verify? Crossposting would likely still improve discoverability and these platforms themselves rank pretty well, just back link to the original haxe blog. I guess you could automate submission to the platforms, social media accounts

[2015-06-17 10:29] lucamezzalira commented on #23
good to know, I'm definitely not an expert on SEO stuff!
Mine was mainly a test to understand which platform was more interested to the contents I usually write.
that's it

[2015-06-17 11:55] delahee commented on #14
@simn ok !

[2015-06-17 11:56] Merelleya commented on #23
That's why I asked how you handled duplicates. Duplicate content, especially on different sites, is an absolute no-go, SEO-wise. Since the other platforms have a better ranking, you would actually hurt the ranking of your own site. It is one of the reasons why paid and free press releases have no SEO value whatsoever^^.

It is ok to cross-reference, though as long a s the content is unique. (Write

[2015-06-17 12:00] delahee commented on #29
@Merelleya This is a meta-issues as it expand through many aspect of haxe...It is not just about having stable versions but also resolving communication and cross polinisation issues.

Imvho, this is the right place for the ticket but it will have dependencies toward many other issues...

It take a big amount of time to centralize and make list of where is actually haxe in the unix world and so I

[2015-06-17 12:02] Merelleya commented on #29
Just as long as you get actionable thingies out of it xD

[2015-06-17 16:04] catdawg commented on #33
I think that when we had the "tech talk" here with Nicolas, there was some kind of deal that the tshirt design was to be shared. I finally have the source image file.

Here it is: https://drive.google.com/folderview?id=0B_KzBG-j-HgufnVTUFE0Z3ZVMVFOVW9BOGlLcWswZFJGU3V2Z09zdWJnRTdsMlVXdFU4NVE&usp=sharing

Have fun with it!

[2015-06-17 16:12] kulick commented on #29
Thanks for the uplift, @delahee.  :+1:

Sorry for the noise, @Merelleya...

[2015-06-17 19:56] kulick commented on #14
Two comments:
1. I want to try to fix this...for ELF anyway, which would help on modern Linux distros.
2. I think that this is important insomuch as it helps us to provide a simpler path to getting Haxe the "normal" way on Linux distros.  We at TiVo don't need this in particular (we build Haxe from source and have a controlled version of neko in our CBE (controlled build environment)).  That said,

[2015-06-17 20:01] kulick commented on #14
Sorry, got confused about which issue I was posting to.  I'll go grab the neko issue that @delahee filed.  :)

[2015-06-18 04:08] polarathene commented on #23
How badly would it affect SEO though really? If you publish via the Haxe blog along with social media promotion and reddit, then after an amount of time eg 1-3 days cross-post to popular blogging platforms that back link to the original article at the start, would the added exposure not be more beneficial? Due to the back linking and giving google time to index the original article, I'm not sure i

[2015-06-18 08:50] Merelleya commented on #23
There is a lot of "try this and maybe..." in SEO. Duplicate content is _not_ one of them. It is very, very bad and thus to be avoided. Apart from the obvious communication benefits, there is another reason why I am insisting the blog be part of the website.

Seeing as it is editorial content (whereas the rest is mostly static), it will do a lot to strengthen the sites position and help get ranked

[2015-06-18 11:40] delahee commented on #36
@Merelleya if it s fine,  I'll send a "data.xml" like that is compatible with the doPressKit() format, if one want preempt and install presskit() it's here:  http://dopresskit.com/dopresskit_install.zip

[2015-06-18 12:04] Merelleya commented on #36
@delahee s'all good.

[2015-06-19 20:00] markknol commented on #24
I tried it for fun to write own question and answer them.
http://stackoverflow.com/q/30933523/508029

I added Haxe examples in some global tags descriptions too, some who also have code snippets of other languages :smiley: it would be nice if other haxe-developing stackoverflow users also could take some time on such stuff. Also there are quite some tags (transpilers, crossplatform) or the gamedev

[2015-06-19 20:29] Merelleya commented on #24
Yeah we should put out a call to action on that.

Maybe we should include some short guidelines/description of what to do, too.

[2015-06-20 18:22] mikicho commented on #20
Maybe it's silly question but I must ask... why we "just" don't create extension for Visual Studio for Haxe? [I think a lot of Haxe user want it happen](https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/7756341-haxe-support).

[2015-06-20 18:29] BigPhilCombo commented on #20
Well I'd say the answer to that is flashdevelop is already built and
working great.   A vs plug in would require substantial work.
On Jun 20, 2015 2:22 PM, "MIchael Solomon" notifications@github.com wrote:

[2015-06-20 20:17] mikicho commented on #20
@pchertok FD need a lot of work too for be truly cross platform. so in two cases need some work.
I must also clarify, I would love to see FD for haxe(I'm currently use FD for haxe and it's great!) but it's look like it's not progress so I think the VS option is more easy for implement and also we will get all the time new features and tools etc.

[2015-06-20 20:32] Simn commented on #20
Let's please not derail this issue, thanks!

[2015-06-21 03:44] ruby0x1 commented on #20
Agreed - this thread has an intention. (Plus the VS _code_ editor is not even a discussion. It is **not** extensible. There is nothing to be done for it. MS locked it down and made it closed source, closed modules, etc).

[2015-06-22 14:32] ConfidantCommunications commented on #33
Are you open to more design submissions?

[2015-06-22 17:15] Merelleya commented on #33
yes, we are^^

Am 22/06/2015 um 16:32 schrieb Allan Dowdeswell:

[2015-06-22 20:38] mpcref opened #37 "LinkedIn group for <your country here>"
Hi,

I've just created a [group on LinkedIn for Dutch Haxe Developers](https://www.linkedin.com/grp/home?gid=8333349) after seeing [a question in the Haxe Google Group](https://groups.google.com/forum/?hl=en#!topic/haxelang/jILHdFET4sg) about a Haxe job offering in The Netherlands.

I guess there should be some governance over groups like these as well?
Is there any readily available material I sh

[2015-06-22 21:33] markknol commented on #20
I wanted to let you know that I started on the website. Its going to have a homepage, download page, features section and some getting started documentation. Ill let you know when it is rougly set up :open_mouth:

@Meychi @elsassph what is needed to "localize" FlashDevelop?
- startpage
- about page
- application icons
- application name, everywhere where _FlashDevelop_ is used should be renamed to

[2015-06-22 21:57] Meychi commented on #20
We have PSDs for most files also there is one compilable win32 icon resource. I need to find all necessary items for them.

I started the work on our side by making it easier to rename FD for distributions by centralising distribution config to one file.

You can find some of the files these locations:

https://github.com/fdorg/flashdevelop/blob/development/PluginCore/PluginCore/DistroConfig.cs
ht

[2015-06-22 22:17] markknol commented on #20
Oh nice, will look into that later. I think it would be fair to keep references/credits to FlashDevelop and all contributors/donators?

Personally I also think you should keep the .fdz file, since themes, projects and plugins support doesn't change in a distro, right? If one installs Haxedevelop it will associate the extension .fdz, people can change within Windows. That would make existing conten

[2015-06-23 00:09] waneck commented on #16
Update: I've been actively working on it. I ended up not using try-haxe's backend, but instead I'm working on a sandboxed haxe compiler as a service. This means it will support macros, sys targets execution, and more - and being a service, maybe try haxe and others can adapt their code to use those servers instead. Most technical issues are addressed right now, but I'm late in schedule because of

[2015-06-23 07:35] delahee commented on #37
Nice idea ! Could you coordinate the linkedin efforts ? There is already a heavy load on the benevols we can defenitely use a hand ! :D

[2015-06-23 08:29] ncannasse commented on #20
@Meychi IMHO we should keep it simple at first, it's fine to support FDZ in HaxeDevelop, also you can keep the credits etc, as for the translations, maybe a simple search&replace FlashDevelop->HaxeDevelop is enough. Please take time to list all the unanswered questions, we would like to help if we can

@markknol  haxe foundation is not going to fork flashdevelop. It's up to the FlashDevelop team t

[2015-06-23 08:44] ncannasse commented on #16
@waneck sure we can pay for it, as long as you promise to maintain them :)

[2015-06-23 19:15] waneck commented on #16
Great. I'll maintain it for sure. The solution is coming out pretty nicely also ;)

[2015-06-24 04:47] hughsando commented on #16
Any thought of an emscripten version of haxe?  The tech is actually pretty awesome, and all sandboxing and sever costs are borne but the client.

[2015-06-24 05:58] waneck commented on #16
That'd be a great idea. I've tried searching, but couldn't find anything about ocaml to emscripten. Maybe we could try js_of_ocaml instead?

[2015-06-25 01:54] jasononeil commented on #14
@Simn - finally catching up on everything - this looks great!

What do you want me to help with?  Looks like we need:
- To (preferably) make the exporter tool work with neko.
- Have some kind of server that runs when Github issues are updated.

  Can you get Travis to listen to things other than new commits and pull requests? I don't think it would trigger a build for issue updates... unless @andy

[2015-06-25 06:58] Simn commented on #14
@jasononeil: We could add a webhook just for issues.

My guess is that the exporter is going to work on neko linux already. I'm attributing the issues I'm having with SSL to the fact that I'm on Windows.

[2015-06-25 08:20] markknol commented on #14
I heard Unity now also has a roadmap in case we need inspiration http://unity3d.com/unity/roadmap/

[2015-06-25 22:42] ConfidantCommunications commented on #33
Okay here's an idea. https://drive.google.com/folderview?id=0B6UVeFM3eTGBfmJmZGZBalB3QWFMRzllYlU3YVpfbnYwMEt0b1FDb1hUeWpneldOM2xjRFE&usp=sharing

I would need to set up the inks for screen printing if approved.

[2015-06-28 12:23] delahee commented on #36
@Merelleya I wrote a first draft but we should have a disucssion about tone. I love how american companies keep a lighthearted tone and I often feen the Hf is a little bit..."abrupt" in its communication... so can you send me contact post me an email where I can send you my drafts link ?  Thanks !

[2015-06-28 22:00] Merelleya commented on #36
send it to Fiene@haxe...

[2015-06-28 22:30] Khaledgarbaya commented on #16
Hi guys I am starting learnhaxe.org blog
If you are interested in contributing with an article haxe related
feel free to contact me
http://learnhaxe.org/haxe/hello-haxe-world/

[2015-06-28 22:31] Khaledgarbaya commented on #23
Hi guys I am starting learnhaxe.org blog
If you are interested in contributing with an article haxe related
feel free to contact me
http://learnhaxe.org/haxe/hello-haxe-world/

[2015-06-29 16:44] back2dos commented on #16
@waneck I find js_of_ocaml very interesting, because once this is accomplished
1. Macros can be run as js, rather than on the current interpreter, which will hopefully speed them up quite a bit. Who knows, macro heavy code might even compiler faster than now :D
2. We could generally call from haxe/js output into the compiler and vice-versa. This would open a lot of doors - particularly writing eff

[2015-06-29 19:06] mpcref commented on #16
While were already off-topic... very cool project indeed!
I see big potential here for the Haxe Foundation / Silex Labs to partner up with the Paris-based Ocsigen / PPS / IRILL teams!
From https://ocsigen.org/job

[2015-06-30 11:09] Khaledgarbaya opened #38 "Seeking contributors to learnhaxe.org Website"
Hi guys I am starting http://learnhaxe.org blog/website and I am looking for contributors to write articles there, it could be about haxe in generale or a specific technology done on top of haxe.
My Aim is to have an article every week or 2 weeks but I can't do that by my own, so if you feel like you want to share your haxe experience contact me.
Best,
Khaled

[2015-06-30 11:12] Simn commented on #38
It's a valiant effort but don't expect anyone to jump on board until you have at least provided some ground work.

[2015-06-30 11:31] ibilon commented on #38
Slightly off topic, but before starting to write brand new articles about haxe wouldn't it be useful and less redundant to have a links to all these already existing articles?

Like for instance learnhaxe.org doesn't really need to write an article on hxml, there's already a couple scattered on the internet: http://matttuttle.com/2015/06/hxml-overview/, http://blog.onthewings.net/2013/03/04/hxml-t

[2015-06-30 11:44] Khaledgarbaya commented on #38
@Simn I agree with you, I still have a lot of work to do with the website like completing all the sections and writing more articles. I wanted to the share the website for people to keep in mind
@ibilon you are right I'll do my best keeping the informations in the website well structured and SEO friendly, Also I'll try to avoid redundant content as much as I can

[2015-06-30 11:51] markknol commented on #38
While I think more tutorials and content is always good (:smile:), I rather have every good writer on board to join the Haxe manual + tutorial team. We are planning to have a community driven tutorial section on the site. Would you be interested in helping on this too? It would save you time to build, manage and maintain the website.

[2015-06-30 21:41] markknol commented on #20
Just want to share some inbetween progress. I have a _very rough_ setup for the website http://haxedevelop.stroep.nl

Many many disclaimers:
- There is no visual style defined yet, every can change.
- I don't have real downloads and we should create a plan on how to add those. I think we also follow the same version numbers as FD?
- There is quite some text but I also tried to use images where pos

[2015-07-01 08:53] ncannasse commented on #20
@markknol nice start !

Regarding visual style, it would be nice if we can have a bit stronger style, look at https://atom.io/ for an example (bigger screenshot, more colorful, etc.) I guess this comes together with logo/icon

[2015-07-01 08:57] Simn commented on #20
That reminds me of the scene in one of the Indiana Jones movies where the guy is painting (?) the letters of the professor's name on his office, only to get told something along the lines of "That looks good! Now just make it larger, much larger!". :P

[2015-07-01 12:51] markknol commented on #20
@ncannasse Thanks! btw (slightly offtopic) but I was messing around with the haxe.org homepage a while ago too, I have it local like [this screenshot](http://projects.stroep.nl/haxe/experimental-home/). Still quite some text, but I guess this is a bit what you mean for the haxedevelop site too?
So yes, when there is a logo/style, I can work towards something.

@Simn :smile: [lol](http://twentytwow

[2015-07-01 15:22] Simn commented on #20
I still think you should lose that 100% width scaling on the haxe.org preview.

[2015-07-01 15:36] markknol commented on #20
@Simn It's gone now fwiw.

[2015-07-01 16:15] lewislepton commented on #20
id just like to chime in my 2 cents on this. ive been following this, just to see how its all going ;)
i love the idea. really happy that multiplatform will be looked at once other things are sorted etc.

as far as the site/location of where it will go. should it not be on the haxe website?
maybe i missed something, but it looked like it would be on a dedicated URL, which can be ok. but i would th

[2015-07-02 09:44] #38 closed

[2015-07-02 20:45] elsassph commented on #20
@markknol pretty amazing work in terms of information - better than the official website ;)

I'd suggest to avoid large orange areas - even if the Haxe logo is orange you should remind it by using only small touches of orange, use an opposite, quieter colour like sky-blue.

[2015-07-02 20:47] elsassph commented on #20
Aside from that I'm not sure it's reasonable to highlight too much the Mac/Linux versions - even if it works, that's for the brave.

[2015-07-02 21:28] markknol commented on #20
@elsassph Thanks for your feedback, I appreciate that since it feels I touch your baby. Most content comes from FD wiki but I reorganized some. Regarding style, I don't want much orange too. Wait until I come up with the actual style.

[2015-07-02 21:54] ruby0x1 commented on #20
I agree with the comments on clarifying the Windows only nature, the usability/reality shouldn't be skewed for other platforms (not only for the users of Haxedevelop but for FD users too)

[2015-07-03 06:32] ncannasse commented on #29
@delahee any progress on this ? @andyli might be able to help when he have some time maybe ?

[2015-07-03 07:11] andyli commented on #29
I've already looked into debian. I can start to work on it.
But again, since haxe depends on neko, I hope neko 2.1 will be released soon (https://github.com/HaxeFoundation/neko/issues/69), or else we have to package neko 2.0.

[2015-07-03 08:01] delahee commented on #29
I am not actively progressing this one myself. Its more a central monitoring issues, Andy li and some other guys seems to have taken note and are taking action which looks very promising to me.

Where we are :

0- https://github.com/HaxeFoundation/neko/issues/75 must be fixed so that packaging the Haxe tk is safe and easier this is a priority. If andy li want to have a look that would be awesome !

[2015-07-03 15:30] kulick commented on #29
Sorry for slow progress on HaxeFoundation/neko#75.  Trying to move that one forward.

Also, I build neko RPMs here at TiVo, so we have an rpm spec file that can be used for packaging neko if that's helpful.  Just FYI.

[2015-07-04 00:14] markknol commented on #20
I want to propose the HaxeDevelop logo and style. It took a while before I got this idea.

It uses a rotated slice of the Haxe logo, a mysterious pyramid. I think it's recognizable on its own, It's not _too_ "haxy" and uses two strong colors.

![haxedevelop-logo](https://cloud.githubusercontent.com/assets/576184/8505690/b94d6e7e-21ef-11e5-9d5f-6eb27de6b59b.png)

The application icon would look lik

[2015-07-04 01:09] ruby0x1 commented on #20
What are the white dots meant to be?
_(p.s imo it's not fitting yet)_

[2015-07-04 08:42] back2dos commented on #20
Maybe the two dots signify FD's double autocompletion? :D

But it does look a bit like the ghost from PacMan ...

[2015-07-04 13:55] elsassph commented on #20
The pyramid is a nice idea. The execution needs work.
On 4 Jul 2015 09:43, "Juraj Kirchheim" notifications@github.com wrote:

[2015-07-04 14:37] delahee commented on #20
2cent... imvho we should keep the color style of the site ( or rematch the
site color style to haxedevelop ), the continuity in color style would
induce a sense of trust and integration.

2015-07-04 15:55 GMT+02:00 Philippe notifications@github.com:

##

David Elahee

[2015-07-04 14:51] elsassph commented on #20
Whatever but avoid large orange areas ;)
On 4 Jul 2015 15:37, "delahee" notifications@github.com wrote:

2cent... imvho we should keep the color style of the site ( or rematch the
site color style to haxedevelop ), the continuity in color style would
induce a sense of trust and integration.

2015-07-04 15:55 GMT+02:00 Philippe notifications@github.com:

##

David Elahee

—
Reply to this email dire

[2015-07-06 10:35] delahee commented on #24
Am seeing more and more of this kind of discussion : https://twitter.com/incredibletoy/status/617377375131709440

about abstracts, typedef and other "exotic" structural typing features.

Maybe some sponsored stackoverflow question could cover these more efficiently than me in 140 char ;)

1- Why do haxe "abstract" exists ?
2- What is the different use of a "typedef"

etc...

@simn could this be li

[2015-07-06 10:38] ncannasse commented on #24
I'm planning some article series about some of these topics

[2015-07-06 10:46] delahee commented on #24
@andyli saw your effort with manual links but I think the people are looking at the underlying motives, needs, samples, why they profundly need this here. :)

[2015-07-06 10:54] andyli commented on #24
@delahee Yes, I can see that some dedicated articles or Q&As are useful. I was just pointing out in the tweets that the terminologies were misused ;)

[2015-07-06 12:06] back2dos commented on #24
I think using stackoverflow more is a good idea. The platform already has good moderation, high visibility and discoverability. Our community is already active there. We have a 80% accepted answer rate there, which is really good if we can maintain that while growing - and I think we can.

Also, much of the more traffic we have there, the more it should cause collateral visibility in the respectiv

[2015-07-06 14:13] delahee opened #39 "try.haxe.org cpp / neko / php"
Hi !

I believe the try.haxe.org tool could be vastly improved if it allowed to run other targets ! I don't know the difficulty but I guess running in a chrooted, rightless env could not harm ?

It would at least help us evangelist to jsut says, hey, you know it just works, you can try it  !

@clemos @simn ?

[2015-07-06 14:18] waneck commented on #39
I've actually been working on `compilehaxe.com` right in this moment. It will provide a REST API that any site like try Haxe can use. It'll allow to use multiple files, and to compile and run all targets.

This is also the base for the `learn haxe` website (which is the reason why I'm working on it right now)

[2015-07-06 14:20] back2dos commented on #39
@waneck That sounds awesome!

[2015-07-06 15:43] markknol commented on #39
This is kind of a duplicate of https://github.com/HaxeFoundation/Project-Management/issues/16

[2015-07-06 16:18] #39 closed

[2015-07-06 16:18] delahee commented on #39
Duplicate of #16

[2015-07-06 19:51] ncannasse commented on #20
I like the colors but the logo is a bit too childish, I would prefer something more "professional"

[2015-07-07 14:46] markknol commented on #20
Thanks for the feedback, that was helpful to revisit the logo. Indeed it looked like a game related thing. I do want to keep the pyramid. To give it a slightly more modern and "code editor" look (without adding brackets or a pen icon) I've replaced the eyes for something that could be seen as abstract lines of text, in our Haxe orange.

![haxe-develop-2](https://cloud.githubusercontent.com/assets/

[2015-07-07 15:23] ruby0x1 commented on #20
I like the idea of the text in the logo! (at first glance It looked a bit like papers peeling back and inside is some code, or maybe a tent, but I think it's neat).

My designer nitpick would be to make the spacing on each side of the "text lines" uniform. i.e the margin-bottom, margin-left, margin-right should be the same - when it hugs the boundaries like that. right now it's closer to the botto

[2015-07-07 17:31] markknol commented on #20
Thanks; you are correct about that shadow, it needs to left out. It had a shadow as if there was light on the ground behind it.
About the margins, ill double check. I did use quite some guides but if it somehow feels misaligned i will use a big microscope, ruler and math to fix it.
I'm not sure about font, now the thickness of icon matches font weight. Beside that I'm not sure how close styles nee

[2015-07-08 00:41] ruby0x1 commented on #20
I think the consistency in line weight is good, if the logo was as is then the font matches just fine.

[2015-07-08 01:07] kevinresol commented on #20
The code lines looks like stone blocks of the pyramid, as if telling a message that "Haxe is the building block for you to construct the next Wonder!"

[2015-07-08 01:11] larsiusprime commented on #20
Yeah I read it that way too!

On Tue, Jul 7, 2015 at 8:07 PM, Kevin Leung notifications@github.com
wrote:

##

www.fortressofdoors.com -- Games, Art, Design

[2015-07-08 08:23] markknol commented on #26
Kind of off-topic but I suggested the Haxe logo for http://svgporn.com/ and now it's there.

[2015-07-08 11:39] ncannasse commented on #20
@markknol I don't have a defined opinion if we should or not keep the haxe.org style. Maybe @Meychi  and @elsassph want to give their opinion here ?

[2015-07-08 18:03] elsassph commented on #20
Not a fan of the brown color and Haxe/Develop separated by the logo.
It would make sense to follow the design of the main website or haxelib, but with other colors.

[2015-07-08 19:32] markknol commented on #20
Ok sounds like a plan, Ill work towards that and let you guys know.

[2015-07-09 08:47] delahee opened #40 "Native Look And feel"
Let's track here the "native" app competitors and see how it sorts.

[2015-07-10 19:49] fullofcaffeine commented on #40
Hey David!

Good one. Alongside web development (which is getting better, specially because of `haxe-js-kit` *[0] from @clemos and also the libraries from @ciscoheat *[1], and the latest `Ufront` *[2] efforts from @jasononeil) this is one of main the Haxe weak (and sweet) spots.

When it comes to frameworks that allow access of native UI toolkis and deployment of binaries to multiple platforms, th

[2015-07-10 20:48] back2dos commented on #40
Use [NativeScript](https://www.nativescript.org/) with haxe/js and be done with it ;)

[2015-07-10 20:51] fullofcaffeine commented on #40
Wow! I didn’t know about NativeScript, that looks great! I’ll certainly consider it, Juraj, thanks for sharing!

[2015-07-11 07:56] delahee commented on #40
@back2dos

Have you used it ?
In production ?
is there anything necessary on the haxe side( haxelibs, whatever ) needed to ensure it is ok ?

If you would elaborate more than one line, this would really optimize the process of getting this subject done and canonized :)

Thanks !

[2015-07-11 08:00] delahee commented on #14
I just love that : https://www.nativescript.org/roadmap
@simn where are we here ? Dya think what we have already can be referenced and outed to the mailing list so we can have feedback ?

[2015-07-11 08:04] delahee commented on #35
The author is not in the process of adding haxe, he hints us to do it.

Is anyone willing ?

[2015-07-11 08:11] back2dos commented on #40
@delahee This was half a joke. No, I haven't used it in production and I'm still waiting to see whether [React Native](https://facebook.github.io/react-native/) won't become a better choice after all.

I have tried some of the demos and was amazed how straight forward it actually was. In principle I don't see why you would _need_ anything particular to use it with Haxe, but of course tighter integ

[2015-07-11 08:21] Simn commented on #14
No

Also: I'm not really interested in public discussions about what should and shouldn't be on our roadmap. That would just end up in an endless drag of arguments that wastes everybody's time and doesn't result in any consensus.

If you feel that something should be on the roadmap, open an issue at HaxeFoundation/haxe. If we (by which I mostly mean Nicolas and me, as well as Hugh/Caue/Andy depend

[2015-07-11 08:26] Simn commented on #35
Then what was the vote for...?

Maybe @markknol could look into it after his well-deserved vacation. For me this doesn't have a very high priority though.

[2015-07-11 08:27] ibilon commented on #35
I can give it a try today,
looking at the open pull requests for new language support it doesn't seem too complicated and the process is well explained on the wiki.

[2015-07-11 10:32] Merelleya commented on #35
Thank you, @ibilon

[2015-07-11 12:22] delahee commented on #14
Yeah sure, its an open source project, people will discuss and want to see
there is a roadmap at some point, at least you might want to plan that it
gets referenced on the website. :)

[2015-07-11 12:48] ncannasse commented on #14
I agree with Simon regarding having a lot of people involved in discussing the roadmap, which often ends up in wishful thinking : many "it would be nice if" but not much volunteers to help in these area.

Maybe I will repeat myself again, but I also think that building the roadmap out of issue requests is not good enough. It prevents us from actually having a plan, makes it difficult to prioritize

[2015-07-11 15:10] ibilon commented on #35
Small update, so I didn't have any problem running their code, I added the couple of files needed, the api is parsed. It's not complete yet, it doesn't go into the packages but there's a method for that so it'll be ok and there are styling issues but that's for the end.

Problem though, here's how their docs are organized: on the first level is a list of languages/softwares, haxe is added here. An

[2015-07-12 07:50] delahee commented on #35
@ibilon
Hi Valientin, thanks for taking ownership.

I suggest you just present targets like packages ?

each target would have a section then we could just have a brief overview of the whole haxe api (wa can design something reusable here)

Maybe you can share a balsamiq mockup on dropbox so that we can iterate together ?

Thanks a lot !

[2015-07-16 14:34] hughsando commented on #29
Just thinking laterally about this - you could compile haxelib with hxcpp.
Had to make a few minor changes (plus one where doc.dependencies was an empty object, rather than an empty array), but all seemed to work.
It runs a bit faster (although both run fast), but it is a bit bigger.  But it can be compiled statically with no external dependencies.

[2015-07-16 16:16] delahee commented on #29
Very nice indeed !
Le 16 juil. 2015 16:34, "Hugh Sanderson" notifications@github.com a
écrit :

[2015-07-18 10:59] delahee commented on #36
sent on two different mails, I guess your on holidays ;)

[2015-07-18 11:00] delahee commented on #40
additionnal reference  :https://groups.google.com/forum/?hl=en#!topic/haxelang/9561xXEth9I
more with wxWindows : https://github.com/nmehost/waxe https://github.com/therealglazou/waxe
https://github.com/nmehost/waxe-works

[2015-07-18 11:10] delahee commented on #40
hey @waneck What does it take to bind xamarin using haxe cs, have someone done it ?

[2015-07-18 11:12] delahee commented on #30
@jasononeil awesome work. Could you highlight / hotlink the samples from within the github reame somehow ?

[2015-07-18 23:23] waneck commented on #40
It should work out-of-the-box with `-net-lib`. However, the workflow might be a little clunky (e.g. integration with monodevelop). I still haven't heard of anyone that has tried it yet.

[2015-08-07 08:05] kevinresol commented on #40
Will HF consider investing in a team to build a pure haxe solution for this topic?

[2015-08-07 09:47] back2dos commented on #40
With the yearly budget Nicolas presented at the WWX, I doubt the foundation can afford even a fraction of what is needed to build such a solution.

[2015-08-17 14:41] ConfidantCommunications commented on #33
Left speechless, eh? ;)

[2015-09-18 19:32] fullofcaffeine commented on #40
I've tried React Native and I must say I'm impressed. There's a lot of hype around it now, too, and the examples I've gone so far all look and feel very smooth, like a 100% native app. That might be a good option for Haxe developers to leverage.

[2015-09-19 02:55] kevinresol commented on #40
The react native code doesn't seem to be standard js code. What I mean is the inline XML as shown below. Does haxe support that kind of syntax?

[code]

[2015-09-19 04:33] fullofcaffeine commented on #40
Not quite I think, but with some macro magic, I think a syntax close to
this can be achieved. Check out https://github.com/ciscoheat/mithril-hx,
@ciscoheat did something along these lines for Mithril.

On Fri, Sep 18, 2015 at 9:55 PM, Kevin Leung notifications@github.com
wrote:

[2015-09-19 07:02] back2dos commented on #40
@kevinresol That's [JSX](https://facebook.github.io/jsx/). You do not have to use JSX for react. You can just use JS objects. But I believe @clemos has done something in that direction and there's also [ithril](https://github.com/benmerckx/ithril), to embed similar DSLs into Haxe.

[2015-09-19 10:47] delahee commented on #29
Ok Andy progressed a lot on the debian side, Todd and Nicolas made everything needed for stripping.

Thanks all, this is a good show that when big problems are isolated we can move on together, I'll close for now as this issue is globally adressed, the sub problems will be handled at individual scale.

[2015-09-19 10:47] #29 closed

[2015-09-19 10:56] delahee commented on #40
linking https://github.com/Meychi/CreateJS-Haxe, if someon want to generate a react native binding, maybe we can build up something clever & cheap.

[2015-09-21 12:46] clemos commented on #40
Yeah I'm still working on React integration / JSX like stuff.
Unfortunately it's still extremely experimental and not documented whatsoever...
I hope to be able to continue working on it in the next few weeks, and release something useable eventually...

[2015-09-21 12:47] delahee commented on #40
@clemos awesome :)

[2015-09-21 15:33] fullofcaffeine commented on #40
We should also not forget about this:
https://twitter.com/elsassph/status/644156820567797761, looks like Massive
also has something in the works.

On Mon, Sep 21, 2015 at 7:47 AM, delahee notifications@github.com wrote:

[2015-09-27 19:59] delahee commented on #36
Well been a while :)

Since i haven't had feedback, here is the doPresskit template I have modified : https://www.dropbox.com/sh/wgheyvnvex184u2/AABe1hGBVcihjISNtAfr3cmga?dl=0

I can totally re-redact if the tone is not good. ping me if you want an updated version for next haxe release, I'll gently close the topic if hf is not interested :)

cc @ncannasse @andyli

[2015-09-27 20:04] delahee commented on #30
I'll close for inactivity and bugger our friend on their github :D

[2015-09-27 20:04] #30 closed

[2015-10-05 08:20] andyli opened #41 "launchpad account"
I've created a [launchpad account](https://launchpad.net/~haxe) to host a Ubuntu PPA.

It would be better to have a few more members there (@ncannasse, @Simn, @waneck ?). Just in case I'm not available (hopefully never) but you want to make a release or update something. Please let me know your launchpad account id and I will add you there.

I will document how to build and upload packages soon.

[2015-10-05 08:48] clemos commented on #41
That looks great !
I have no particular knowledge in building deb package, or in launchpad, but I'd be happy to help.
My account id is cl3mos.

[2015-10-06 07:08] markknol commented on #20
Hello HaxeDevelop Team!! What is the current status of the editor?

[2015-10-06 07:11] markknol commented on #26
Is there a Neko logo as SVG available?

[2015-10-06 10:42] markknol commented on #16
@waneck What is the current status of the learn Haxe website?

[2015-10-06 10:44] ncannasse commented on #26
I don't think I have one, it's been made years ago in photoshop

[2015-10-06 10:45] ncannasse commented on #20
@markknol any news on the design ? I think we should first setup the website and then let @elsassph  and @Meychi handle the rest afterwards (unless we can help there as well?)

[2015-10-06 10:47] ncannasse commented on #20
PS : I think it's an important thing for both Haxe and FlashDevelop because of the current declining status of Flash. Both Haxe and FD needs to break heir ties from flash and I think doing HaxeDevelop right is a good way forward.

[2015-10-06 11:13] markknol commented on #20
I have not much news on the design, the logo is good as-is, but the surrounding theme needs to be updated, as discussed. I also want to know what tech I should use for the site so I can clean up the current thing.

[2015-10-06 14:50] waneck commented on #16
@markknol , the sandboxing is already done at https://github.com/waneck/openjail (and it works quite well). I was working on the compile Haxe API but stopped right now since I've been very busy with my job. I plan to revisit this soon-ish

[2015-10-12 20:52] MatthijsKamstra commented on #34
It seems that some movement is made in that direction, but done wrongly. I agree more with the solution from @markknol : if you decide to use "easy way to connect" it should be present on all pages AND directly point to link not to an extra page (http://haxe.org/community/community-support.html)

From a design point of view I like the design made by @markknol also better
I like the gray a default

[2015-10-12 21:15] MatthijsKamstra commented on #13
wxx 2015 started this, should it not be finished?

[2015-10-12 21:20] MatthijsKamstra commented on #36
:+1:

[2015-10-12 21:24] MatthijsKamstra commented on #35
I am not sure how important this part of documentation is, but 4 months ago it seemed important. Perhaps this issue should be closed?

[2015-10-12 21:42] MatthijsKamstra commented on #14
It seems that there is something of a roadmap, but it's hidden from the public...
Shouldn't it be "activated" in the menu????

[2015-10-12 22:08] MatthijsKamstra commented on #33
This issues doesn't seem to hard to fix, black tee with yellow logo (@markknol made the branding guide for it).
And it seems that OpenFL already figured it out : http://www.amazon.com/OpenFL-Logo-T-Shirt/dp/B016ARC74I

And provided a Haxe tee: http://www.amazon.com/OpenFL-Haxe-Logo-Vertical-T-Shirt/dp/B016APSU5A/ref=pd_srecs_cs_193_1?ie=UTF8&refRID=11PF67ESH2MDR2B9Y8X7&dpID=41Q726prrYL&dpSrc=sims&

[2015-10-12 22:13] MatthijsKamstra commented on #9
A good idea would be to collect all those talks (and presentations) in one place, so future talks could benefit from them.

[2015-10-12 22:14] MatthijsKamstra commented on #5
Curious where we are on the subject!

[2015-10-12 22:16] MatthijsKamstra commented on #34
btw they should be in the footer as well

[2015-10-12 22:19] MatthijsKamstra commented on #26
Neko logo, perhaps not the original, but the one used on the Haxe website...

http://haxe.org/website-content/pages/img/targets/all-targets.svg

![](http://haxe.org/website-content/pages/img/targets/all-targets.svg)

[2015-10-13 06:54] markknol commented on #26
Nicely spotted, great!

[2015-10-13 06:59] markknol commented on #34
I think the logo at small size is good enough as it is right now. It depends on the screen and browser how it is rendered.

[2015-10-13 07:01] markknol commented on #35
@ibilon What is the status of this?

[2015-10-13 07:27] markknol commented on #33
Aiii, that openFL Haxe logo shirt.. @Merelleya Isn't it weird the openFL team sells shirts with the Haxe logo?

To be honest, I think goodies like shirts/mugs can be a good thing, but only if they are done properly (aka not ugly or as the branding guide says _elaborated with gold jewelry_). It's a real waste to produce shirts that no one wares (or only once at events). The color and proportions of

[2015-10-13 07:49] MatthijsKamstra commented on #34
Firefox, Safari, Chrome (OSX)
![screen shot 2015-10-13 at 09 46 49](https://cloud.githubusercontent.com/assets/907219/10448810/a418d210-718f-11e5-8e81-7b6c5a29de14.png)

But again, there are bigger issues :smile:

[2015-10-13 09:09] ibilon commented on #33
@markknol they do? I don't see any http://www.amazon.com/s/ref=w_bl_sl_s_ap_web_7141123011?ie=UTF8&node=7141123011&field-brandtextbin=OpenFL

EDIT: found the one I think you're talking about (http://www.amazon.com/OpenFL-Haxe-Logo-T-Shirt/dp/B016APPWNS/ref=pd_d0_recs_v2_cwb_ap_6?ie=UTF8&refRID=1ACT4C49E4JTT49G1BWQ&dpID=41X3deege7L&dpSrc=sims&preST=_SL500_SR160%2C160_), strange it's not on the main

[2015-10-13 09:13] ibilon commented on #35
Sadly nowhere, couldn't find time for this.

But my initial reserve still apply, there's no support for package/namespace, so I don't see how we can have a good representation of the haxe api there.

But I'll push my modifications for the parsing in case someone has a good idea on how to make the display.

[2015-10-13 15:27] larsiusprime commented on #33
@ibilon The ones not on the main list are probably not intended to be public, there's mario and link and stuff too that probably couldn't ever be released publicly, so everything except the OpenFL shirts on the main list are most likely just for personal orders and the like, or the result of messing around with the interface.

[2015-10-13 15:38] jgranick commented on #33
Hi everyone,

The shirts are good quality. American Apparel have always been my favorite T-shirts, of all the different printed shirts I received at different events.

There are two OpenFL shirts, and one Lime shirt:

http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=openfl+shirt

Yes, I was testing three different Haxe shirt designs, but none are live (and should not ha

[2015-10-14 06:34] ncannasse commented on #13
I'm still not sure on which form we should publish this. Any insights?

[2015-10-14 06:38] ncannasse commented on #20
@markknol if you're going to maintain the website, choose what works for you :)

[2015-10-14 08:11] delahee commented on #13
You could just publish the pdf "as is", if some volunteer really want to extract data, he will. American foundations seem to publish taxes too but imho there is no point for our size.

Bonus : leave one or two sentence about growth or not, expectations or not.

ref : https://www.mozilla.org/en-US/foundation/annualreport/2013/
ref : http://www.apache.org/foundation/records/

[2015-10-14 11:36] Merelleya commented on #13
I agree with David on this one. Just publish them as is, if applicable, we can include a small statement. but other than that I would not invest too much work into it. The people who are interested in them, will know how to read them.

[2015-10-14 11:37] Merelleya commented on #13
@ncannasse I am moving this to "Review before close". If you agree, we can close this and just set up a task to do this when its time.

[2015-10-14 11:39] Merelleya commented on #35
@ibilon is there anything we can do to help with this? Maybe its worth putting out a call to the community to see if someone has any good ideas.

Otherwise I will close this, adding a reminder to maybe revisit it at a later date.

[2015-10-14 11:46] Merelleya commented on #33
As usual the brand discussion is dependent on design input. Since we don't have a resident designer, @markknol I am naming you Brand Guardian for now.

[2015-10-14 11:49] Merelleya commented on #14
@MatthijsKamstra the implementation shown here was just an example of how it could be done. We are picking this back up and will hopefully arrive at a level of agreement that allows us to show something on the website.

[2015-10-14 11:53] Merelleya commented on #16
@waneck please give us a shout if there is anyone who could help you with anything.

[2015-10-14 12:00] Merelleya commented on #12
I guess we still need community guidelines, so I am taking this back up. @delahee are you still up for this or shall I just put this into my list for now?

[2015-10-14 12:02] delahee commented on #12
Yep I'll finalize what I have gathered.

[2015-10-14 12:04] Merelleya commented on #5
revisiting this again. Will try to sort out the necessary infrastructure for Blogs/Articles with @jasononeil in the coming days.

[2015-10-14 12:05] Merelleya commented on #41
@ncannasse, @Simn, @waneck please comment

[2015-10-14 12:08] Merelleya commented on #37
@cref I would be very happy to get some help with this. How is the LinkedIn group going, anyway?

If you think this would be useful, we could put out a call on the mailing list, asking people to make groups. In general, though, its getting harder and harder to stay on top of all the groups on all the networks, so this would be something that I would encourage the community to do, but would not wan

[2015-10-14 12:10] Merelleya commented on #6
will revisit with @jasononeil

[2015-10-14 12:15] Merelleya commented on #9
@MatthijsKamstra that is indeed a good idea and something we should include on our website as well. While we might not collect all the content there is, I think it would be good to have links to the talks or rather to the places where the talks can be found (e.g. The Silex Labs YT account and so on)

 Thank you for the suggestion!

[2015-10-14 12:16] Merelleya opened #42 "Collect and Showcase videos/material rof Haxe-related talks"

[2015-10-14 12:19] Merelleya commented on #42
This goes on my "Haxe.org" list.

[2015-10-14 12:21] Merelleya commented on #24
I still need someone to take the lead on this, so if anyone feels inclined, I would be grateful for the help!

[2015-10-14 13:34] andyli commented on #37
I just think of the Haxe user map that appeared years ago and I still think that is interesting to look at => https://www.google.com/maps/d/viewer?mid=zNXUFQfJmbJw.kJWU4eCTbrw0&hl=en_US

Maybe we can display the list of Haxe user group in such a map... Well, when we have a least a few user groups.

[2015-10-14 14:14] MatthijsKamstra commented on #42
Hi Merelleya,
I have the feeling stuff like this shouldn't take that much time. We wait for the presentations of @andyli publish them (then we should have at least two) add a line that HaxeFoundation is very interested  in presentations that are given  ... bla bla bla .
And perhaps add disqus to the website so people can contribute without to much difficulty.

[2015-10-14 15:27] waneck commented on #41
Woohooo! That's great news!
I'd be happy to join. I'll create an account tonight and post here. Thanks, @andyli for all of your hard work! :)

[2015-10-14 18:00] mpcref commented on #37
There's not a whole lot of members (10 at the moment) but that was to be expected as there aren't that many Dutch Haxe developers. At least there is now a place where Haxe-related jobs in The Netherlands can be posted (none for now). I was just wondering whether we should adopt certain guidelines for these LinkedIn groups?

[2015-10-14 19:17] ncannasse commented on #13
The PDF have already been made available through mail on [haxe] group, I'm copying the link there so it can be added somewhere on the website https://drive.google.com/file/d/0Bxr4dvgTFeHzSTF5TDhGSFU1M2c/view?usp=sharing

[2015-10-14 19:19] ncannasse commented on #41
I'll leave @andyli and @waneck handle it, since I have no launchpad account, I might not be able to help even in case there is some issue :)

[2015-10-15 13:05] MatthijsKamstra commented on #26
Don't know if this is the place for it, but I remember a discussion about the Haxe logo and the need for a black "Haxe" logo.
I needed them for the t-shirt design:

http://clients.matthijskamstra.nl/haxe/haxe-logo-negative.svg
![haxe-logo-negative.svg](http://clients.matthijskamstra.nl/haxe/haxe-logo-negative.svg)

http://clients.matthijskamstra.nl/haxe/haxe-logo-vertical-negative.svg
![haxe-logo-

[2015-10-15 14:39] waneck commented on #41
@andyli , you can add me if you'd like. My user name is `waneck`

[2015-10-15 14:45] andyli commented on #41
I've added @clemos and @waneck right now. ;)
Anyone who want to be added just let me know.
I'm closing this issue for now.

[2015-10-15 14:45] #41 closed

[2015-10-15 21:23] MatthijsKamstra commented on #33
Bam lets get this discussion going:

only two designs, but completely in line with the brand-guides (checking with newly appointed Brand Guardian @markknol)
and possible with just one side printed

**version 0**
![haxe_tshirt_v01_white tee 0](https://cloud.githubusercontent.com/assets/907219/10527838/fdca73d6-7392-11e5-833b-d9d4e2a60939.png)
![haxe_tshirt_v01_black tee 0](https://cloud.githubuserc

[2015-10-15 21:33] MatthijsKamstra commented on #33
Bam mug
![haxe_mug_v01](https://cloud.githubusercontent.com/assets/907219/10528201/0ed1211e-7395-11e5-82b6-035576a8ac28.png)

on both sides the Haxe logo

[2015-10-15 21:44] larsiusprime commented on #33
I like them all! Only comment is that the shirts with the small logo on the side looks a bit large for a pocket-sized logo? Is there a standard guideline for that or are my eyes just off?

Everything else looks super duper swell.

[2015-10-15 22:04] MatthijsKamstra commented on #33
if you look at the black, the white doesn't look that off.
I still have to consult my wife, she is in fashion, about size and positioning of the logo.
But I wanted to have something to discuss (my favourite is version 1 with haxe across the chest )

[2015-10-15 22:05] lucamezzalira commented on #9
Hi All
today I had Andy Li as speaker on my London meetup, you can find the recording here: https://www.youtube.com/watch?v=7YNR9HAm6D0 (300ish people watched the video :D )
I'm trying to organise a second webinar with Philippe Elsass in order to have something more in deep always for JS devs

[2015-10-15 22:05] lucamezzalira opened #43 "WWX London"

[2015-10-15 22:08] lucamezzalira commented on #43
Hi All

I was thinking that would be nice to organise a 1 or 2 days event on Haxe for JS developer, with my JS community I had the opportunity to meet a lot of people and good venues, we could organise something similar to the Paris event in London.
I can reach easily Google campus for free and find few sponsor for the refreshments.
what do you think about that?

[2015-10-15 22:09] ncannasse commented on #43
That sounds like a great idea. When would it take place? How can we help?

[2015-10-15 22:19] MatthijsKamstra commented on #42
Video of @andyli presentation: https://github.com/HaxeFoundation/Project-Management/issues/9#issuecomment-148536670

another : https://docs.google.com/presentation/d/1kCZpDnmEazsW6fZ84vUe-53QWm06Fg-qjPobAEvsolg/edit#slide=id.p

https://www.youtube.com/watch?v=7YNR9HAm6D0&feature=youtu.be

and this one:
https://www.youtube.com/watch?v=CupIdO-GpVg
http://www.slideshare.net/SergeiEgorov1/haxe-by-serg

[2015-10-15 22:35] lucamezzalira commented on #43
We can organise for next year, I don't know when you are planning the WWX in Paris but I'd suggest May for this event, usually a good month in London :D
What I can do is checking with my contacts in Google what they think to host us there and start to talk with few companies to see if they could be interested to sponsor us.
The only think I can't promise I'll be able to organise will be the stream

[2015-10-16 09:07] mikicho commented on #33
I agree with @larsiusprime, I created 2 months ago a Haxe shirt and the pocket logo should be about 10-12 cm.
Also, I recommend that you write in both sides the official website url.
I like that mug!

[2015-10-16 11:31] Merelleya commented on #43
Hey Luca,

this is great news! We will of course help you in any way we can. We could put out a call on the  mailing-list, to see who else would be available as a speaker.

I have this issue assigned to you for the time being. Just let us know what you need from us and we will see what we can do.

Fiene

[2015-10-16 11:33] Merelleya commented on #33
This is looking good. I hope we can settle on a design in the next two weeks so that we can look into setting this up with t-shirt printing services. We should probably get one in Europe and one in the US.

[2015-10-16 12:23] Merelleya commented on #43
Hey all,

I have just gotten word from Silex Labs that they have reserved the Mozilla Offices and are planning their Paris event for May 27th to May 30th. The Thaxe Force (the google group where the coordination took place) will be up again in November.

So please keep this in mind when choosing your date.

Fiene

[2015-10-16 12:31] lucamezzalira commented on #43
Perfect, thanks for letting me know.

So I've sent an email to a contact I've got in Facebook, their room is huge (300 people) and they are very good in this kind of things, let's see if we can have them or not.
I keep you update on that :D

[2015-10-19 20:50] markknol commented on #33
They all look very good. Indeed the small ones looks a bit big, but the colors and backgrounds are good.
Can we also have a black mug?

[2015-10-19 21:32] MatthijsKamstra commented on #33
@markknol sure, I used a vector file that wasn't easy to change. But you probably get the idea.

@Merelleya I wanted to use something like http://www.cafepress.co.uk/ , they handle all the shipping, etc. You can set you profit margin, can choose from a wide range of products and they have "stores" in different countries.

@mikicho I don't want to add an url (to the t-shirt) because I hope when you

[2015-10-20 01:29] waneck commented on #33
I think it would be nice if we had some t-shirts that show a little what
Haxe is about.
Something like all the logos of what Haxe targets, and "CAN YOUR
PROGRAMMING LANGUAGE TARGET ALL THIS?" (Or I bet your programming language
can't target all this), with the Haxe logo on the back

Also some slogans like "MACRO ALL THE THINGS".

On Mon, Oct 19, 2015, 5:32 PM Matthijs Kamstra notifications@github.

[2015-10-20 01:30] waneck commented on #33
I'd love to see a pixelized Haxe logo as well

On Mon, Oct 19, 2015, 9:29 PM Cauê Waneck waneck@gmail.com wrote:

[2015-10-20 01:31] ConfidantCommunications commented on #33
On the ones with logo on pocket, I would suggest having a smaller logo, like 1/2 as tall.

[2015-10-20 08:06] Merelleya commented on #24
Just talked to @jasononeil and it seems that there is more activity on stackoverflow now. I will close this for now and we will see how it goes.

[2015-10-20 08:06] #24 closed

[2015-10-20 09:10] MatthijsKamstra commented on #33
the quick and dirty black mug version
![haxe_mug_v02_black](https://cloud.githubusercontent.com/assets/907219/10601379/8a462432-7711-11e5-9b9a-5c970dae937b.png)

@markknol do you know which font is used in the Haxe logo? I guess it's "Helvetica Neue Black" (there are others that look similar, but I think that Helvetica is the best guess)

@waneck that is always possible, but I first would like the

[2015-10-20 09:18] MatthijsKamstra commented on #33
![haxe_tshirt_v01_black tee 0](https://cloud.githubusercontent.com/assets/907219/10603028/3ed8abfe-771c-11e5-89cf-3c1311da244e.png)
![haxe_tshirt_v01_black tee 1](https://cloud.githubusercontent.com/assets/907219/10603026/3ed71fbe-771c-11e5-9bc8-25502851b9c2.png)
![haxe_tshirt_v01_white tee 0](https://cloud.githubusercontent.com/assets/907219/10603025/3ed6eb84-771c-11e5-9e04-f7021835db0d.png)
![ha

[2015-10-20 16:16] ConfidantCommunications commented on #33
Nice!

[2015-10-21 02:42] waneck commented on #33
@MatthijsKamstra those are all very nice. Thanks for taking the time to work on this.
I'd try to scale down a little bit the ones that have the vertical big logo and see if it looks better, It seems to me that it has not much breathing space.

As for the pixel art, what do you think of something like:
![haxe-test4](https://cloud.githubusercontent.com/assets/178171/10626334/dc61b078-777b-11e5-8915-

[2015-10-21 02:44] ConfidantCommunications commented on #33
Rotating the pixels looks a bit odd, IMHO.

[2015-10-21 02:45] waneck commented on #33
Yeah, I cheated :P . Well, back to the drawing board! Wish our logo was laid out like Zelda's triforce. Like Haxe was the "quadriforce" or something :P

[2015-10-21 02:48] ConfidantCommunications commented on #33
If I remember correctly, if you're in Photoshop, you could scale down first to get the pixels, then scale up again by a power of 2 using Nearest Neighbour interpolation.

[2015-10-21 09:11] MatthijsKamstra commented on #33
There is a font close to **Helvetica** (which I suspect is used in the original Haxe logo) : http://www.azfonts.net/load_font/hellovetica.html
![](http://www-ru.azfonts.net/fonts_images/samples/005/hellovetica.png)

But I like **Silkscreen**:
http://www.dafont.com/silkscreen.font
![](http://www.dafont.com/img/preview/s/i/silkscreen1.png)

I can't find a great pixel font that could be used as a bol

[2015-10-22 07:37] markknol commented on #33
I thought it was just Arial Black.

I'm not sure about the pixelated logo. It now looks like a different logo.

[2015-10-22 08:14] MatthijsKamstra commented on #33
@markknol that sounds even more plausible.
![logofont](https://cloud.githubusercontent.com/assets/907219/10660122/e5a5f7e6-78a4-11e5-96a1-9cd2076231b8.png)

If we really, really, really want a pixelated logo we should do it correct and create one by hand. The little experiments I did ended up without the (for lack of a better name) glue flaps...

[2015-10-23 15:00] MatthijsKamstra commented on #34
It's nice that everybody responds, but what is the next step?
And I just don't know so that's why I ask: who is responsible for the website?

It seems everybody was very motivated 4 months ago, but adding 4 links to the website shouldn't take that long. Again I am happy to help (html/css) to put some of these issues to rest.

[2015-10-23 16:20] Merelleya commented on #34
Jason is doing some work on the website this week and next week too. I will keep closing issues as they are being dealt with. I general, @jasononeil deals with website changes^^

[2015-10-23 21:03] MatthijsKamstra commented on #33
I see no objection about these basic designs, so let's proceed to the next step.

I am guessing nobody want to have a couple boxes full of t-shirts at home and handle shipping.

So....
1. The HaxeFoundation should make a account at  http://www.cafepress.co.uk/
2. Decide on "profit" per t-shirt (I would suggest to keep it as low as 2 euro, it should be a conversation starter and not another source

[2015-10-23 21:21] MatthijsKamstra commented on #37
@andyli I like the map also, a friendly way of showing the "secret society of Haxe" :smirk:
Perhaps add it to the website (this is the first time I see it...)???

[2015-10-24 15:25] elsassph commented on #33
It's a nice initiative but II don't think a huge Haxe orange logo is a good idea for a T-shirt. Needs something a bit more subtle.

[2015-10-24 22:00] bendmorris commented on #33
A cleaner pixel version of the logo:

![haxe-pixel](https://cloud.githubusercontent.com/assets/544977/10712307/29cf2a8e-7a4c-11e5-8577-debf6992810f.png)

![haxe-pixel-lg](https://cloud.githubusercontent.com/assets/544977/10712315/4c40faf2-7a4c-11e5-8f1a-0f9534129ab9.png)

[2015-10-25 21:47] elsassph commented on #20
On our side I think things could progress quickly when we find a good visual identity.

However, although the website in general is great, I'm not a fan of the logo. But I like the wireframe look - so I thought: maybe the identity could be inspired by blueprints and use blue/white wireframes - current hero brown-ish color would be fine as side color to blueprint. And possibly we could keep the reg

[2015-10-28 10:06] ncannasse commented on #20
@markknol I agree with @elsassph , do you think you could come up with other logo proposals for HaxeDevelop? Also, I think we should keep HaxeDevelop separated in terms of colors from Haxe.org

[2015-10-29 21:21] Justinfront commented on #33
Really good quality hoody would be nice, just logo back and front quite large and maybe one on the top front edge of the hoot, no text, also might be nice to have a top with lots of haxe library logos to promote the whole ecosystem and awareness of community, I am quite keen on text less, then people who don't know are more likely to ask since Haxe logo is good without text.  I like the pixel one

[2015-10-29 21:26] waneck commented on #33
Oh I forgot to comment. @bendmorris I LOVE the pixel version of the logo! Thanks!!

[2015-10-29 21:34] MatthijsKamstra commented on #33
I have no idea what the quality is from cafepress, but they are well known. I don't think they will use crap quality.
All I need is an **yes** from the HaxeFoundation!
And I will make hoodies, t-shirts, shorts, pants, oven mitts, and whatever the Haxe community wants.

btw I get that some people like the pixel version of the logo. But I also think it gives a (already) wrong impression of Haxe: tha

[2015-10-29 22:06] Justinfront commented on #33
"I get that some people like the pixel version of the logo. But I also think it gives a (already) wrong impression of Haxe: that it's build for gaming."

on the front using pixel logo.

"Haxe Pixel Logo"
For Games

Then on the back

"Haxe Logo"
... And for
everything else.

[2015-10-29 22:16] bendmorris commented on #33
This is a good reason to use multiple designs. Some of us do use it for gaming, and I'd love to have a shirt and mug with no text and a pixelized logo. Tempted to just make one myself on cafepress if the discussion goes on any longer ;-)

[2015-10-29 22:44] MatthijsKamstra commented on #33
Wait for it.......
I will keep this subject alive!!!
I am also very interested in a mug and tee myself.

And (@bendmorris ) I agree that there could be more versions so everybody is happy.
But... (and here comes my "secret" mission) I am trying to attract more JavaScript developers to Haxe and I know no JavaScript game developers. Pixels screams old skool games, and that is not what the majority o

[2015-11-02 07:50] delahee commented on #8
I'll probably go at  http://gamelier.org/open-game-development-room-at-fosdem-call-for-participation/, I'll apply for a speach about how to do cross platform development and OSS or gamedev without Unity or something trendy like this.

If someone come up a better idea, feel free to mail me
cc @larsiusprime @ncannasse

[2015-11-03 15:58] kulick commented on #8
Just FYI...I am speaking about Haxe at an event in Romania this Saturday.  The event is called CodeCamp and it is for developers to share and learn together.  A perfect environment to speak about Haxe, I think.  I'm still working on my presentation, but if you have any advice or recommendations for things to cover and ways to talk about Haxe, I'm all ears!

CodeCamp: http://iasi.codecamp.ro

I'll

[2015-11-03 17:39] cambiata commented on #40
https://github.com/elsassph/fusetools-haxe

[2015-11-04 20:56] MatthijsKamstra commented on #33
Just an update to keep this issue alive
(I still need some sort of okay from @ncannasse  of @Merelleya )

I cleaned the pixel logo a little up (it wasn't symmetrical)
![haxelogopixel_v02](https://cloud.githubusercontent.com/assets/907219/10951582/97d1c096-833e-11e5-85e7-8cdb8742a1d5.png)

![screen shot 2015-11-04 at 21 52 35](https://cloud.githubusercontent.com/assets/907219/10951605/b0a720a2-833e

[2015-11-06 09:07] delahee commented on #40
And our future might lie here: https://twitter.com/IanHarrigan1982/status/662308080332488706
KUDO @ianharrigan

[2015-11-06 09:15] delahee opened #44 "Proposal : What is really Haxe Trailer !"
Hi,

Now is a turning tide, haxe is gaining traction fast, everybody hear of it but there is a definetly a gap between hearsay and adoption. We have tons of video presentations about tech points but we are really missing the manager stage because..managers don't watch tech presentations that much...
I also had some multiple reports that Haxe does not break through management stages because they do

[2015-11-06 09:20] ianharrigan commented on #44
+1

[2015-11-06 11:31] ianharrigan commented on #40
Probably a better representative example here: https://twitter.com/IanHarrigan1982/status/662586365389967360

I also think that waxe in general (outside of HaxeUI) would be something to revisit for native L&F - for people how would rather not use HaxeUI (for whatever reasons)... it works, and is fine, but there is lots and lots missing and doesnt really mimick the class structure of wxWidgets...

[2015-11-08 22:29] Khaledgarbaya commented on #8
Gameduell is organizing techtalks, you can find more information here http://www.techtalk-berlin.de/about/

[2015-11-09 12:49] MatthijsKamstra commented on #44
+1

[2015-11-09 13:29] andyli commented on #44
I'm not sure about "a programming language" trailer. But I think a video showcase of all the good games (or whatever) made in Haxe would be awesome!

[2015-11-09 14:10] delahee commented on #44
@andyli
Sorry to clarify/disagree but that is exactly not what I propose

TLDR : I think the next battle will be explaining exactly what is haxe and how it fits for people who only have limited time to grant to yet another new technology and not big companies with large R&D teams that can dig that swiftly. It's already easy to cinvince haxe is used by big names, let's show more.

In the long :

We

[2015-11-09 14:33] ianharrigan commented on #44
Yeah, a sort of quick video presentation, that doesnt get _too_ deep into details, but adequately shows haxe "moving" to other languages, utilizing existing code bases (in those languages) to create apps / games, etc.

The basic idea would be a short video that management and budget types can watch to get a general overview of what haxe is and how it could potentially fit in to their company. In f

[2015-11-09 14:39] andyli commented on #44
Ummm.. I think I get what you mean. I usually think that it is better done by having a nice front page and giving talks in conferences. You want to express it in the form of a trailer, which may be a good idea.
It would be great if you can have a quick prototype of that, because it is hard for me to imagine for now : )

For the video showcase of made of haxe, it is my need from my own experience p

[2015-11-09 15:15] delahee commented on #44
ok then @andyli can you open a separate issue about a haxe video showcase, I'll come up with something as to "What is Haxe" video, I'll prezi something early december unless someone propose something first.

[2015-11-16 18:14] lewislepton commented on #20
hi all,

i have kept my eye on this issue/post for some time. and have started playing with logos and other things. so would like to start giving them out.

this is the first one. ill post the others later. but trying to stick to the same color as the original haxe logo. but obviously changing the shape

![haxeidelogo](https://cloud.githubusercontent.com/assets/11299322/11190504/cce67de6-8c8d-11e5

[2015-11-19 11:48] lewislepton commented on #20
another.

![haxeidelogo03](https://cloud.githubusercontent.com/assets/11299322/11270016/4a6c3a2c-8eb3-11e5-9af3-432e98f334b9.png)

[2015-11-19 12:59] boozook commented on #20
Blueprint-themed transparent Haxe logo with dashed contours :+1:.

[2015-11-23 13:13] delahee commented on #12
adding this https://www.youtube.com/watch?v=-F-3E8pyjFo&feature=youtu.be&a I started something but the result was crappy, I'think i'll do some slides rather than boring text.

[2015-11-23 16:41] nadako commented on #12
Sorry, I'm not following this thread, but I liked that video, especially the part about documenting design decisions, so people can point/be pointed to some issue/post/comment to find out/remember why something was (not) made the way it's done. A couple of months ago I started collecting haxe-related links here https://github.com/nadako/awesome-haxe and it has this `Language design` section. Perha

[2015-11-24 08:19] markknol commented on #20
I discussed with @elsassph and we made some progress on the HaxeDevelop logo.
I think the icon is pretty enough to keep it and fits on a blueprint decorated style. I've changed to lighter fonts and made it more in the line of iOS-app icons. This separates HaxeDevelop more from the Haxe brand, while keeping some relation.

@ncannasse What do you think?

[2015-11-24 08:46] lewislepton commented on #20
@markknol lovely. craps all over mine ;)

[2015-11-24 14:16] back2dos commented on #20
This is really good! I do see two small issues however:
1. The font seems a bit awkward. Have you tried increasing the weight
   and/or letter spacing, or using a monospaced font?
2. As it is, I don't see this scale down to 32x32 let alone 16x16, but I'm
   sure there's a solution for that. Smaller versions might be reduced to just
   the pyramid on blue print.

On Tue, Nov 24, 2015 at 9:46 AM, le

[2015-11-24 15:13] ncannasse commented on #20
It's nice! Let's see how it integrates with the website now?

[2015-11-24 15:22] Simn commented on #20
I associate pyramids with something old that is full of deadly traps, dead ends and the remnants of people who had their brain removed. In other words: It's perfect for Haxe!

[2015-11-24 15:33] nadako commented on #20
Hahahaha!

[2015-11-24 15:36] markknol commented on #20
Lol, I hope that is your sarcastic German humor :stuck_out_tongue_winking_eye:  Not sure if this a compliment or not .... haha!

[2015-11-24 16:13] delahee commented on #20
Ftagh'n !

2015-11-24 16:34 GMT+01:00 Dan Korostelev notifications@github.com:

##

David Elahee

[2015-11-24 16:29] delahee opened #45 "Propagating the medium post about the CEO search"
Hi folks,

I suggest we try to help Nicolas by propagating ( https://medium.com/@ncannasse/some-words-about-haxe-foundation-e97a4e9d7e41#.z6p38pooo )

@larsiusprime Do you think you can have something set up in gamasutra or am I off topic ? I believe you already know slashdot & reddit and had success at some point ? I can help to redact something but I Haven't got much points
@Merelleya @kulick an

[2015-11-24 16:31] damoebius commented on #45
I'll

Le 24.11.2015 17:29, delahee a écrit :

## Links:

[1] https://github.com/larsiusprime
[2] https://github.com/Merelleya
[3] https://github.com/kulick
[4] https://github.com/damoebius
[5] https://github.com/HaxeFoundation/Project-Management/issues/45

[2015-11-24 16:41] delahee commented on #45
I did something for slashdot : http://slashdot.org/submission/5276749/haxe-foundation-is-looking-for-a-new-ceo

and hackernews is done too : https://news.ycombinator.com/newest ( or here more probably because its already buried https://news.ycombinator.com/submitted?id=blackmagic )

I'll wait for Lars' input to see something about reddit.

[2015-11-24 17:16] elsassph commented on #20
I'd like to drop the dotted lines around the logo on the home page - they would be nice though for the application icon (with just the pyramid in it).

[2015-11-26 08:14] VictorJump commented on #20
http://haxedevelop.stroep.nl - logo on this site does not really work for me well. When you see a blueprint-based logo, you expect it to be snapped to blueprint grid. My inner perfectionist is furious.

[2015-11-26 08:51] damoebius commented on #45
Job Done :
http://linuxfr.org/news/la-haxe-foundation-recrute-son-ceo

Anyone can post something on LinkedIn ?

[2015-11-26 08:53] delahee commented on #45
S'okay, Nico did.

[2015-11-26 09:55] elsassph commented on #20
The blueprint grid is perfect - that's the dotted-lines around the logo that I think are superfluous (but they may be good for an application icon).

[2015-11-26 09:59] Simn commented on #20
The only problem I have with it is that the color looks like I accidentally mouse-drag-marked something.

[2015-12-06 22:39] markknol commented on #20
I updated the site a bit more; more content. Also more animated gifs in the documentation. I also converted the thing to HTML site (no more PHP). I build a static website generator using Haxe (hxtemplo, markdown and some JSON configs for the downloads).

The logo now doesn't have the lines anymore.
http://haxedevelop.stroep.nl/

[2015-12-07 02:48] fullofcaffeine commented on #40
Update from @ianharrigan: https://twitter.com/IanHarrigan1982/status/672816466325053440

[2015-12-07 08:04] markknol commented on #40
I don't really understand the idea of dumping links here.

@delahee Can you put the relevant links on the website?

[2015-12-07 08:19] kevinresol commented on #20
possible to center-align the grid background? The tip of pyramid not snapping to grid make me uneasy....

[Edit: maybe it is not so necessary, given that the logo on other pages are not center aligned]

[2015-12-07 08:52] markknol commented on #20
Its center aligned now.

How is the custom distribution going?
What is expected from me at this point? Are you waiting for assets from my side? Who will write the copy and adapt the new theme into the editor?

[2015-12-07 14:34] mockey commented on #40
About wxWidgets: I worked a bit on an extern generator a couple of years ago (based on Hugh's waxe code). For an API as big as the wxWidgets one you definitely need a generator for externs IMO.  wxWidgets has doxygen docs you can parse for that.

But as of now wxWidgets still doesn't really support any mobile platform, does it? It surely was interesting 5 years ago maybe, but today? Well, for pure

[2015-12-07 15:38] ibilon commented on #40
I'm making (with a friend) a generator doxygen -> hxcpp https://github.com/LemDes/doxygen2hxcpp it's starting to be a bit of a mess, and there's still a lot of bugs to fix, it's a lot harder than I imagined.

We've been testing it on wxWidgets, I confirm what @mockey is saying, it's too big to do by hand.
It's also too big to do it completely with a generator (missing or incomplete doc, macros ...

[2015-12-07 16:00] mockey commented on #40
Correction: I didn't use the doxygen files back then. I parsed the header files in `/interface/wx/`.
And yes, it's not so easy to get it right. I gave up pretty soon :-)
Maybe it's a bit better nowadays with the newer hxcpp features.

[2015-12-08 09:15] ncannasse commented on #20
@elsassph  @Meychi any news on your side? I guess we're ready for the website, it is ok for you? Please tell @markknol which assets you might need to include in the HaxeDevelop distribution, I guess a .ico file is necessary at least?

[2015-12-08 13:19] Meychi commented on #20
I'm ready start setting up the build if we get the new assets:

https://github.com/fdorg/flashdevelop/blob/development/PluginCore/PluginCore/DistroConfig.cs
https://github.com/fdorg/flashdevelop/tree/development/FlashDevelop/Resources
https://github.com/fdorg/flashdevelop/tree/development/FlashDevelop/Bin/Debug/Docs
https://github.com/fdorg/flashdevelop/tree/development/FlashDevelop/Installer
http

[2015-12-08 13:41] markknol commented on #20
@Meychi Can we commit this in a separate branch or something?

[2015-12-08 13:44] Meychi commented on #20
Yes. Fork FD into a new branch and i will check what is the best way to do automated build for both at the same build instance.

Either we have it on the same repo or keep it in seperate branch.

[2015-12-11 16:00] markknol commented on #20
@ncannasse Who will be responsible for the HaxeDevelop side of FlashDevelop? I updated some copy (no images/icons yet) already in my fork+branch to get stuff started, but I don't want to be responsible.
https://github.com/markknol/flashdevelop/tree/haxedevelop

[2015-12-11 19:02] elsassph commented on #20
@markknol a fork is a good start. Please contact Mika (maybe through PM in our forums) to clarify how to proceed.

[2015-12-11 19:38] Meychi commented on #20
@markknol: I will start setting up the build process and integrating the necessary things. Just keep working on the branch i will comment while you work on it.

[2015-12-11 20:41] ncannasse commented on #20
I think it's best right now if we just give full control to flashdevelop team, we're just here to help :)

[2015-12-11 22:41] Meychi commented on #20
@markknol: I'm now pretty far setting up the build, please provide me new graphics for the installer, about dialog and large app icon. I can do the actual ico file and resource files. Then you could do the startpage and release notes in Docs dir.

At this stage we have a fairly complete version, then we need to think if we should omit something from the default FD install.

[2015-12-11 23:32] markknol commented on #20
Great ill provide the assets soon

[2015-12-13 20:20] markknol commented on #20
@Meychi @ncannasse I've created an app icon, the start page and about dialog. https://github.com/fdorg/flashdevelop/pull/1001

I'm looking forward to a first build! :smile:

[2015-12-14 21:29] Meychi commented on #20
We have now CI builds running from its own branch. The branch will be merged to FD dev branch when mature enough. Download here: http://flashdevelop.org/downloads/builds/

The first thing i see now is the FlashDevelop installer graphics. :) @markknol: Can you provide the correct ones?

HaxeDevelop installer will now overwrite your FD file associations so at first you should give the zipped standal

[2015-12-14 21:32] Simn commented on #20
After installing and running I immediately get:

[code]

[2015-12-14 21:37] Meychi commented on #20
Seems that some file is serialized with FD and HaxeDevelop tries to read that. The clean install should not have any FD binaries. Looking into it.

[2015-12-14 22:08] Meychi commented on #20
Fix committed, new build up now.

[2015-12-14 22:13] Simn commented on #20
That worked, thanks!

I'll start using it and report my findings. Looks good at a first glance!

[2015-12-14 22:21] markknol commented on #20
I feel complete n00b with git, everytime I think I understand, I fail. my remote distro_haxedevelop branch is removed. When I now push the old commits are still/also in the branch. I don't know how change my setup to only commit/push these two files to you.. [Sorry](http://explainxkcd.com/wiki/images/4/4d/git.png) :tired_face:

Anyway, I have the files here:
http://haxedevelop.stroep.nl/temp/Banne

[2015-12-14 22:29] Meychi commented on #20
Thanks, committed and the new build is up now.

[2015-12-14 22:32] markknol commented on #20
I think the icon in the taskbar doesn't work like this, ill look into that.

[2015-12-14 23:39] markknol commented on #20
Ok I doodled around, I think this will look better than the current version.
http://haxedevelop.stroep.nl/temp/FlashDevelopIcon.ico

---

![image](https://cloud.githubusercontent.com/assets/576184/11797537/e1e3aee8-a2c3-11e5-94e4-ab2de90367b0.png)

---

![image](https://cloud.githubusercontent.com/assets/576184/11797546/ff44e880-a2c3-11e5-800e-255eaf3458f0.png)

[2015-12-15 07:00] Meychi commented on #20
New build is up now.

[2015-12-15 08:31] Simn commented on #20
I tried running the program today and it told me "Installation failed, please install HaxeDevelop again" or something to that extent. I don't know what's up with that because it was working yesterday and seems to be fine now after trying again.

[2015-12-15 12:04] markknol commented on #20
Now I see the icon in the taskbar again, I doubt if it is "Haxe" enough, @ncannasse @elsassph what do you think?

@Meychi how can I change the icon of the projectfiles?

[2015-12-15 12:09] Meychi commented on #20
You need to create two icon files, one for common fd files (*.fdz, *.fdb etc..) one for project files. I need to compile them into win32 resource file and then embed that into small .Net app we use. On FD these are black and white logo with file icon and colored logo with file icon.

[2015-12-15 12:12] Meychi commented on #20
I also noticed the that the doc in appdir/docs/ need HaxeDevelop branding too. Its basicly a release notes doc.

[2015-12-17 09:00] ncannasse commented on #20
@markknol I'm fine with the task bar icon. But the app name should be "HaxeDevelop" instead of "haxedevelop" no ?

[2015-12-17 09:48] markknol commented on #20
Ok great!

Btw, that screenshot is not the actual app, I created a folder on my machine and assigned the icon to it for a quick test.

[2015-12-17 13:44] tiagolr opened #46 "Haxe Resource"
Hi, I've been working on this wonderful site to aggregate learning materials such as articles and tutorials related to haxe programming language.

[http://haxeresource.meteor.com](http://haxeresource.meteor.com)

It's almost ready at this stage, and so far it had little or no problems during production.

I'd like to ask you if at some point it can be transfered to the HaxeFoundation servers, and p

[2015-12-17 21:07] markknol commented on #20
@Meychi do you have those 2 icons as separate images, so I can tweak them?

[2015-12-17 21:10] Meychi commented on #20
@markknol: I have the icons but i might have the psds too. I'll check tomorrow.

[2015-12-17 22:58] markknol commented on #20
@ncannasse @elsassph @Meychi

Maybe I'm too fast, but I think we are approaching an official first  release. I think we should do this good, so let's start thinking and make a plan how to release it in public. I want to ask you guys to help the following:
- Check the editor :smile: Enjoy your new coding environment !
- Check for spelling / missing content of the website http://haxedevelop.stroep.n

[2015-12-18 11:17] elsassph commented on #20
Yes the most notable thing to figure now is to have a different set of templates for FD and HD.
Or at least for FD's to be a superset of HD's. I was thinking of git repos just for the templates - @Meychi?

[2015-12-20 09:47] ncannasse commented on #46
Hi and thank you for this website.

It looks like I could indeed become some valuable website for haxe resources.

One thing I would like to see added before we host it would be a way for users to easily submit links, while still having you manually confirming them for inclusion. That could be as easy as a "Submit Link" button/form that could be on each page.

After that we could ask the community

[2015-12-20 10:01] ncannasse commented on #20
@Meychi @elsassph do you prefer to host the haxedevelop.org website so you can make updates with Mark, or should we host it on haxe foundation servers ? I think the first solution would works better for you, but anything else is okay as well.

Looking forward to it, I'll give it a try soon.

[2015-12-20 14:08] larsiusprime commented on #46
This could be really amazing and I would love to see this officially adopted by HF.

[2015-12-20 14:28] tiagolr commented on #46
Thanks, @ncannasse I'll see into that. At the moment there are lots and lots of contents to be added, one question, would the submit link require login? The advantage of requiring login is that the link can be attributed to that person and also avoid spamming, on the other hand it's always a bit more discouraging to have to login. Anyway I'll make it require login first, then remove it if needed.

[2015-12-20 14:38] larsiusprime commented on #46
Maybe enable something that lets you login with Facebook, Google, Github, Twitter id's via OAUTH in addition to traditional login? Then you have login tied to identity but friction is less.

[2015-12-20 14:59] tiagolr commented on #46
It does since quite some time now: facebook, github and google i think.

[2015-12-20 19:16] ncannasse commented on #46
I think that no login is better, you can still add login once you get too much spam, at this point the database should be quite big already

[2015-12-21 09:21] manno-xx commented on #33
Since this is still open I guess the t-shirts sold on amazon (http://amzn.com/B016APSIHU) are not the same product discussed here. Does anyone know about the progress of this issue or the origin of the shirts on amazon?

[2015-12-21 09:29] MatthijsKamstra commented on #33
I really want to take this a step further, but as you can see it's difficult to get a "GO".
But there are some changes in the HaxeFoundation that I will be waiting for: https://medium.com/@ncannasse/some-words-about-haxe-foundation-e97a4e9d7e41#.if5egdt3c
(TL;DR : they are looking for a CEO )

About the haxe shirt you found on Amazon: they are from openfl, a test that shouldn't be visible but for

[2015-12-22 11:09] manno-xx commented on #33
Thanks for the reply. I read the post from Nicolas and hope things work out OK soon. I think just for the fun of it I'll order one of the Amazon shirts to see if it comes through. Shipping is set to "in 1 to 2 weeks"...

[2015-12-22 22:59] Meychi commented on #20
@ncannasse: We can host it, no prob. I think only thing you need to do is to point the domain to our nameservers. We will handle the rest directly with @markknol unless we need to discuss about something.

@elsassph: I have a plan and AS3 ones are now available for HaxeDevelop from AppMan.

[2015-12-24 09:42] ncannasse commented on #20
@Meychi should I just simply point the domain to your server IP or do you want to get DNS server setup too ? (then to which DNS servers)

[2015-12-24 09:43] Simn commented on #20
If I type code like `var x = a-b`, upon adding the semicolon HaxeDevelop spaces this out to `var x = a - b;`. My FD didn't do that and I'm sure it's just a matter of configuration, but I can't find what option this is tied to. Any hints?

Also I cannot find the option for "Use List View grouping" which I used in FD to avoid silly error grouping.

[2016-01-06 12:27] #45 closed

[2016-01-06 12:28] Merelleya commented on #44
Hey @delahee are you still looking into this?

[2016-01-06 12:29] Merelleya commented on #46
Hey @tiagolr,

This looks really amazing. Please let me know if you need help with anything from our side!

[2016-01-06 13:12] Merelleya commented on #12
@nadako that is indeed a very good idea, I will put that on my "to be talked through with the team" list and also open a new issue for it. Other than that I feel that this issue has run its course and would like to close it.

@delahee you ok with that?

[2016-01-06 13:13] Merelleya opened #47 "Documenting Design Decision"
@nadako in #12

[2016-01-06 14:01] delahee commented on #12
yeah totally, I wrapped my head a few times around this problem...and the present situation conflict with the current behaviour / response from team members. I am really wondering if prescriptive doc ( vid or not ) would improve the situations and if it would be debated and followed.

So I think going with nadako's solution for starte would be better, i'll star the repo and add some things here an

[2016-01-06 14:02] #12 closed

[2016-01-06 14:05] delahee commented on #44
Nope, the silex team has not answered, propably for their own reasons ;).  They started a video section so I guess they sort of have an agenda.

As to me, in december I could not work on anything serious due to personnal reasons.I strictly don't have time and priority on this these days, so if you feel about closing, proceed :)

[2016-01-06 14:48] lexoyo commented on #44
I don't remember you asked something?
Are you looking for a teaser video we did?
https://www.youtube.com/watch?v=XBMJYpxoP70
https://www.youtube.com/watch?v=9bjs3mq0jVQ
https://www.youtube.com/watch?v=KU425Zrzxyk
https://www.youtube.com/watch?v=UxloLXZiOXI

[2016-01-06 15:04] delahee commented on #44
@lexoyo yep I sent a mail on 06/11/2015 , i'll send it again :)

edit : sent, keep me posted ;)

[2016-01-06 15:21] Simn commented on #14
So, this is assigned to me but I feel like I've done my part. The rest is a matter of creating/labeling issues that should go on the roadmap.

[2016-01-06 15:25] Simn commented on #13
I'll go ahead and close this. As Nicolas says the financial report is available for people who are interested in it, and I see no reason to rub it into everyone's face.

[2016-01-06 15:25] #13 closed

[2016-01-06 15:28] Simn commented on #6
This is a nice idea but is not going to be implemented anytime soon, so we might as well close it now. Let's instead focus on existing architectures/platforms for this.